<div class="flex mainWrapper">
<div class="flex wrapper" *ngFor="let rating of teachersList | slice:0:3">
  <div class="flex third">
    <p class="flex">{{rating.author.toUpperCase() }}</p>
  </div>
  <div class="flex right">
    <div class="circleRating">
      <span class="ratingNumber">{{rating.kRatings}}/5</span>
      <p class="flex ratingType">Knowledge</p>
    </div>
    <div class="circleRating">
      <span class="ratingNumber">{{rating.pRatings}}/5</span>
      <p class="flex ratingType">Professionalism</p>
    </div>
    <div class="circleRating">
      <span class="ratingNumber">{{rating.taRatings}}/5</span>
      <p class="flex ratingType">Teaching Ability</p>
    </div>
  </div>
  <div class="flex bottom">
    <h5 class="flex">{{rating.text}}</h5>
  </div>
</div>
</div>
