
.reviewCard {
  box-shadow: 0 0 15px lightgrey;
  margin: .35em;
  justify-content: space-between;
  background-color: white;
  padding-left: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.lowRow {
  margin-top: .5em;
  line-height: 2;
}

.heightWrap {
  min-height: 400px;
  overflow: scroll;
  border: 2px solid green;
}

.starDiv {
  padding-top: .45em;
}

.fa-star {
  font-size: 1.25em;
}

.reviewText {
  font-size: 1.25em;
  font-weight: 300;
}

.disabled {
  color: darkgrey;
  /*pointer-events: none;*/
  text-shadow: none;
  cursor:  not-allowed;
}

.disabeld:hover {
}

.readMore {
  margin-left: -5em;
}
  .fa-star {
    font-size: 1.5em;
  }





/*STARS*/

.rating {
  border: none;
  float: left;
  margin-left: -5em;
}

.rating > input  { display: none; }
.rating > i:before {
  display: inline-block;
  font-family: FontAwesome;
  cursor: pointer;
}

.rating > i {
  color: #ddd;
  float: right;
  margin: .1em;
}

.rating > input:checked ~ i {
  color: #00FF99;
  /*-webkit-text-stroke-width: 1px;*/
  /*-webkit-text-stroke-color: green;*/
}
