/*Search Functionality Style*/

select {

  background-color: transparent;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  font-size: 1.25em;
  margin: .5em;
  border: .5px lightgrey solid;
  border: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:focus {outline:0;}


input {
  margin: 2%;
}

select.minimal {
  color: #5563F0;
  background-image:
    linear-gradient(45deg, transparent 50%, #5563F0 50%),
    linear-gradient(135deg, #5563F0 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, #5563F0 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #5563F0 50%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border: none;
  outline: 0;
}


/*Teacher Cards*/

.teacherRow {
  /*padding-top:2em;*/
  padding-bottom: 2em;
}

.realCard {
  box-shadow: 0 0 15px lightgrey;
  background-color: white;
  width: 100%;
  height: 140px;
  margin-top: 1em;
}

.realCard img {
  height: 140px;
  margin-left: -1.25em;
  margin-bottom: -1em;
}

.teacherName {
  font-size: 1.05em;
  font-weight: 500;
  line-height: 2;
}

.rating {
  margin-top: -.5em;
  margin-bottom: .5em;
}

.notRated {
  margin-top: -.25em;
  margin-bottom: .45em;
}

.location {
  margin-left: -1em;
}

.showMore {
  margin-left: -1.5em;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}


.showMore a {
  color:#1BACFC;
  font-size: 1.15em;
  margin: 1.5em;
  margin-bottom: 1em;
}

.showMore a:hover {
  cursor: pointer;
}

.showMore a.noMoreLoad {
  text-decoration: none;
  color: grey;
}

.showMore a.noMoreLoad:hover {
  cursor: default;
}

.noPad {
  padding: 0;
}

/*SEARCH DIV*/

/*.searchDiv {
  width: 100vw;
  justify-content: flex-start;
  margin-top: 2em;
  margin-bottom: 1em;
}

.searchHalf {
  width: 60%;
  justify-content: flex-start;
  padding-left: 5%;
}

.selectDiv {
  width: auto;
}












.teacher {
  width: 417px;
  box-shadow: 2.5px 2.5px 3.5px lightgrey;
  margin: 1em;
  text-decoration: none;
}

.mediaDiv {
  justify-content: space-between;
  background-color: white;
}

.picDiv {
  width: auto;
  max-width: 30%;
  justify-content: flex-start;
  left: 0;
}

img.pic {
  height: 175px;
  width: auto;
  max-width: 165px;
}

.infoDiv {
  width: auto;
  max-width: 58.5%;
  padding-left: 2.5%;
  justify-content: flex-start;
}
.infoDiv p {
  line-height: .85;
}

.left {
  margin-top: .25em;
  text-align: left;
  justify-content: flex-start;
}

.left p.flex {
  text-align: left;
  justify-content: flex-start;
}

.top {
  align-self: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  top:0;
  margin-top:0;
  padding: 0;
}

.fullname {
  margin: 0;
  margin-top: .5em;
  color: black;
  font-weight: 600;
  font-size: 1.25em;
}

.stars {
  margin: 0;
  margin-bottom: 2em;
  align-self: flex-start;
}

.showMore {
  margin: 1.5em;
}


.showMore a {
  color:#1BACFC;
  font-size: 1.15em;
  margin: 1.5em;
  margin-bottom: 1em;
}

.showMore a:hover {
  cursor: pointer;
}

.showMore a.noMoreLoad {
  text-decoration: none;
  color: grey;
}

.showMore a.noMoreLoad:hover {
  cursor: default;
}

.blk {
  color: black;
  font-weight: 500;
}

.fa-star {
  font-size: 1.5em;
}

@media(max-width: 425px) {

  .teacher {
    width: 350px;
    box-shadow: 2.5px 2.5px 3.5px lightgrey;
    margin: .75em;
    text-decoration: none;
  }

  .mediaDiv {
    justify-content: space-between;
    background-color: white;
  }

  .picDiv {
    width: auto;
    max-width: 30%;
    justify-content: flex-start;
    left: 0;
  }

  img.pic {
    height: 165px;
    width: auto;
    max-width: 160px;
  }

  .infoDiv {
    width: auto;
    max-width: 55%;
    padding-left: 3%;
    justify-content: flex-start;
  }

  .searchHalf {
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    padding-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .selectDiv {
    width: 42%;
    margin: 2%;
    padding: 0;
    justify-content: flex-start;
  }



}

@media(max-width: 375px) {
  img.pic {
    height: 190.5px;
    width: auto;
    max-width: 155px;
  }
}

@media(max-width: 325px) {
  .teacher {
    width: 295px;
    box-shadow: 2.5px 2.5px 3.5px lightgrey;
    margin: .75em;
    text-decoration: none;
  }

  .mediaDiv {
    justify-content: space-between;
    background-color: white;
  }

  .picDiv {
    width: auto;
    max-width: 30%;
    justify-content: flex-start;
    left: 0;
  }

  img.pic {
    height: 180.5px;
    width: auto;
    max-width: 142.5px;
  }

  .infoDiv {
    width: auto;
    max-width: 52.5%;
    padding-left: 3%;
    justify-content: flex-start;
  }

  .left .blk {
    font-size: .9em;
  }

}*/


/*STARS*/

.rating {
  border: none;
  float: left;
}

.rating > input  { display: none; }
.rating > i:before {
  display:  block;
  font-family: FontAwesome;
  cursor: pointer;
}

.rating > i {
  color: darkgrey;
  float: right;
  margin: .1em;
}

.rating > input:checked ~ i {
  color: #5ADA6A;
  -webkit-text-stroke-color: #5ADA6A;
}


/*COMPONENT STYLES*/

:host-context(.homeTeachersList) .searchDiv {
  display: none;
}

:host-context(.homeTeachersList) .mainWrapper {
  padding-top: 2em;
  background-color: #f2f2f2;
}
