<div class="container">
  <div class="flex">
    <input type="text" [(ngModel)]="filterText" placeholder="Search Teachers by Name" class="form-control">
  </div>
  <div class="teacher-wrapper flex">
    <a class="flex teacher"  *ngFor="let teacher of teachersList  | filter: filterText | slice:0:6; let i=index" [routerLink]="['../view-teacher-profile/', teacher._id]">
    <!-- <div class="flex teacher"  *ngFor="let teacher of teachersList"> -->
        {{ teacher.fullname}}
        <br>
        {{ teacher.email }}
    </a>
  </div>
</div>
