/*SEARCH DIV*/

.searchDiv {
  width: 100vw;
  justify-content: flex-start;
  padding-left: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}

select {
  display: none;
}

.select {
  display: inline-block;
  padding-right: 1em;
  appearance: none;
  background-color: #f2f2f2;
  border: none;
  opacity: 1;
  font-weight: 300;
  font-size: 1.15em;
  color: #4F4F4F;
}

.select2 {
  margin-left: 5em;
}

.select:focus {outline:0;}

.fa-angle-down {
  font-size: 1.5em;
  color:  #1BACFC;
}

input {
  margin: 2%;
}

.teacher {
  width: 417px;
  box-shadow: 2.5px 2.5px 3.5px lightgrey;
  margin: 1em;
  text-decoration: none;
}

.mediaDiv {
  justify-content: space-between;
  background-color: white;
}

.picDiv {
  width: auto;
  max-width: 30%;
  justify-content: flex-start;
  left: 0;
}

img.pic {
  height: 175px;
  width: auto;
  max-width: 165px;
}

.infoDiv {
  width: auto;
  max-width: 58.5%;
  padding-left: 2.5%;
  justify-content: flex-start;
}
.infoDiv p {
  line-height: .85;
}

.left {
  margin-top: .25em;
  text-align: left;
  justify-content: flex-start;
}

.left p.flex {
  text-align: left;
  justify-content: flex-start;
}

.top {
  align-self: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  top:0;
  margin-top:0;
  padding: 0;
}

.fullname {
  margin: 0;
  margin-top: .5em;
  color: black;
  font-weight: 600;
  font-size: 1.25em;
}

.stars {
  margin: 0;
  /*margin-top: -.45em;*/
  margin-bottom: 2em;
  align-self: flex-start;
}

.showMore {
  margin: 1.5em;
}


.showMore a {
  color:#1BACFC;
  font-size: 1.15em;
  margin: 1.5em;
  margin-bottom: 1em;
}

.showMore a:hover {
  cursor: pointer;
}

.showMore a.noMoreLoad {
  text-decoration: none;
  color: grey;
}

.showMore a.noMoreLoad:hover {
  cursor: default;
}

.blk {
  color: black;
  font-weight: 500;
}

.fa-star {
  font-size: 1.5em;
}

@media(max-width: 425px) {

  .teacher {
    width: 350px;
    box-shadow: 2.5px 2.5px 3.5px lightgrey;
    margin: .75em;
    text-decoration: none;
  }

  .mediaDiv {
    justify-content: space-between;
    background-color: white;
  }

  .picDiv {
    width: auto;
    max-width: 30%;
    justify-content: flex-start;
    left: 0;
  }

  img.pic {
    height: 165px;
    width: auto;
    max-width: 165px;
  }

  .infoDiv {
    width: auto;
    max-width: 52.5%;
    padding-left: 2.5%;
    justify-content: flex-start;
  }

  .searchDiv {
    width: 100vw;
    justify-content: flex-start;
    padding: 0;
    padding-left: .5em;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .searchDiv .half .select {
    justify-content: flex-start;
  }

  .select {
    width: 100%;
    margin: 5%;
    padding: 0;
    justify-content: flex-start;
  }

  .select2 {
    margin: 0;
  }

}

@media(max-width: 335px) {
  .teacher {
    width: 300px;
    box-shadow: 2.5px 2.5px 3.5px lightgrey;
    margin: .75em;
    text-decoration: none;
  }

  .mediaDiv {
    justify-content: space-between;
    background-color: white;
  }

  .picDiv {
    width: auto;
    max-width: 30%;
    justify-content: flex-start;
    left: 0;
  }

  img.pic {
    height: 165px;
    width: auto;
    max-width: 145px;
  }

  .infoDiv {
    width: auto;
    max-width: 52.5%;
    padding-left: 2.5%;
    justify-content: flex-start;
  }

  .left .blk {
    font-size: .9em;
  }

}

/*STARS*/

.rating {
  border: none;
  float: left;

}

.rating > input  { display: none; }
.rating > i:before {
  display: inline-block;
  font-family: FontAwesome;
  cursor: pointer;
}

.rating > i {
  color: darkgrey;
  float: right;
  margin: .1em;
}

.rating > input:checked ~ i {
  color: #5ADA6A;
  -webkit-text-stroke-color: #5ADA6A;
}


/*COMPONENT STYLES*/

:host-context(.homeTeachersList) .searchDiv {
  display: none;
}

:host-context(.homeTeachersList) .mainWrapper {
  padding-top: 2em;
}
