<div class="container">
  <div class="flex">
    <input type="text" [(ngModel)]="filterText" placeholder="Search Teachers by Name" class="form-control">
  </div>
  <div class="teacher-wrapper flex">
    <a class="flex teacher"  *ngFor="let teacher of teachersList  | filter: filterText | slice:0:6; let i=index" [routerLink]="['../view-teacher-profile/', teacher._id]">
        <br>
        <div class="flex mediaDiv">
          <div class="flex picDiv">
              <img src="[profPic]" class="pic">
          </div>
          <div class="flex infoDiv">
            <div class="flex">
              <div class="flex half fullname">
                <p>{{teacher.fullname.toUpperCase()}}</p>
              </div>
              <div class="flex half stars">
                <div class="flex fullname" style="color: grey" *ngIf="!teacher.avgRatingNumber">
                  Not Yet Rated
                </div>
                <div class="rating" *ngIf="teacher.avgRatingNumber">
                  <input type="radio" [checked]="teacher.avgRatingNumber >=4.5"/>
                  <i class="fa fa-star fa-1x star" for="star5"></i>
                  <input type="radio" [checked]="teacher.avgRatingNumber >=3.5"/>
                  <i class="fa fa-star fa-1x star" for="star4"></i>
                  <input type="radio" [checked]="teacher.avgRatingNumber >=2.5"/>
                  <i class="fa fa-star fa-1x star" for="star3"></i>
                  <input type="radio" [checked]="teacher.avgRatingNumber >=1.5"/>
                  <i class="fa fa-star fa-1x star" for="star2"></i>
                  <input type="radio" [checked]="teacher.avgRatingNumber >=0.5"/>
                  <i class="fa fa-star fa-1x star" for="star1"></i>
                </div>
                <p class="numberRatings" *ngIf="teacher.avgRatingNumber">{{teacher.avgRatingArray.length}} Ratings</p>
              </div>
            </div>
            <span class="flex left">
              <p class="flex" id="location"> {{ teacher.location }}</p>
              <p class="flex" id="skills">{{ teacher.skills }}</p>
              <p class="flex" id="cost">{{  teacher.cost | currency:'USD':true:'2.0-1' }}/hr</p>
            </span>
          </div>
        </div>
      </a>
  </div>
</div>
