.wrapper {
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url('../../../../../assets/golf.jpg');
  background-size: cover;
  background-position:bottom;
  width: 100vw;
}

.messageStuff {
  width: 100%;
}

.messageStuff .row {
  width: 45%;
}

.half {
  width: 48%;
  text-align: center;
}

.mainText{
  color: white;
  width: 100%;
  margin-bottom: 0;
}

.mainTitle {
  font-size: 3.75em;
  font-weight: 800;
  margin-left: .5em;
}

.mainInfo {
  width: 22.5em;
  font-size: 1.75em;
  margin-top: 1.25em;
  font-weight: 100;
}

.buttons {
  margin-top: -4em;
}

.register {
  background-color: rgba(27, 172, 252,.9);
  width: 28%;
  color: white;
  font-weight: bold;
  border: none;
  padding: .75em;
  /*font-size: 1.25em;*/
}




/*REGISTER MODAL*/

.modalWrapper {
  position: fixed;
  width: 65%;
  background-color: #5563F0;
  padding: 1.5em;
  opacity: 1;
  z-index: 1000;
}

.modalWrapper h4 {
  color: white;
}

.xClose {
  position: absolute;
  right: 6em;
  top: 1.5em;
  justify-content: flex-end;
  color: white;
}

.modalContent {
  margin-top: 1em;
  color: white;
  width: 100%;
  padding: 0;
}

.title {
  font-size: 2.75em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1em;
}

.subText {
  font-size: 1.25em;
  text-align: left;
}

.flex app-user-login {
  width: 100%;
}

.switchAccount {
  margin-top: .5em;
  color: white;
  font-weight: 500;
  color: lightgrey;
}

.switchAccount em {
  color: #1BACFC;
  margin-left: .25em;
}
@media(max-width: 780px) {

  .wrapper {
    background-position: right;
      background-size: cover;
      height: 100%;
      background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url('../../../../../assets/golf1.jpg');
      background-size: cover;
      width: 100%;
  }

  .mainTitle {
    font-size: 3.5em;
  }

  .buttons {
    padding-bottom: 0;
    width: 75%;
  }
}

@media(max-width: 575px) {
  .mainText {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .mainTitle {
    font-size: 3.25em;
    width: 100%;
  }

  .mainInfo {
    width: 90%;
    font-size: 1.5em;
    margin-top: 1em;
  }

  .register {
    width: 15em;
  }

  .buttons {
    margin-top: -8em;
  }

  .account a {
    width: auto;
    display: inline-block;
  }

  .modalWrapper {
    width: 80%;
    margin-top: 20%;
  }

  .modalText {
    width: 95%;
    margin-bottom: 1.5em;
  }

  .form {
    width: 95%;
  }

  .title {
    font-size: 1.75em;
    margin-bottom: .5em;
  }

  .subText {
    font-size: 1.25em;
  }

  .xClose {
    right: 3em;
  }
}

@media(max-width:500px) {
  .registerText {
    width: 97.5%;
  }
  .form {
    width: 100%;
  }

  .modalWrapper {
    width: 85%;
  }

}


@media(max-width:475px) {

  .mainTitle {
    font-size: 2.5em;
    width: 100%;
  }

  .mainInfo {
    width: 90%;
    font-size: 1.25em;
    margin-top: 2em;
  }

  .xClose {
    top: 1.75em;
  }
}

@media(max-width:375px) {

  .mainTitle {
    font-size: 2em;
    margin-left: .75em;
    width: 100%;
  }

  .mainInfo {
    width: 90%;
    font-size: 1.25em;
    margin-top: 2em;
  }

  .modalWrapper {
    width: 95%;
  }

  .caps {
    margin-right: 1.25em;
  }

  .xClose {
    top: 1.75em;
  }
}

@media(max-width:325px) {

  .mainTitle {
    font-size: 2em;
    margin-left: .85em;
    width: 100%;
  }

  .mainInfo {
    width: 90%;
    font-size: 1.15em;
    margin-top: .75em;
  }

  .buttons {
    margin-top: -4em;
  }

  .bigTitle {
    font-size: 1.75em;
  }

  .xClose {
    top: .75em;
    right: 2em;
  }

  .modalWrapper {
    margin-top: 22%;
    padding-top: .5em;
  }

  .modalText {
    margin: 0;
  }

  .title {
    font-size: 1.35em;
  }

  .subText {
    font-size: 1em;
  }
}




@media(max-height:475px) {

  .account {
    font-size: .95em;
  }

  .buttons {
    padding: .5em;
    padding-bottom: 0;
  }
}




:host /deep/ h3 {
  color: blue;
  font-size: 10em;
}
