.wrapper {
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url('../../../../../assets/golf.jpg');
  background-size: cover;
  background-position:bottom;
  width: 100vw;
  color: white;
}

.modalWrapper {
  position: fixed;
  left: 5%;
  right: 5%;
  background-color: #5563F0;
  padding: 3em;
  z-index: 100000000;
  color: white;
  top: 10%;
}

.loginModal {
  width: 60%;
  padding: 1.5em;
}


.switchAccount {
  margin-top: .5em;
  color: white;
  font-weight: 500;
  color: lightgrey;
}

.switchAccount span {
  color: #1BACFC;
  margin-left: .25em;
}

.lightblue {
  color:#1BACFC;
}

.mainTitle {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 4.5em;
}

.mainText {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 1em;
}

.title {
  font-size: 3.25em;
  margin-bottom: 1em;
  font-weight: 500;
}

.subText {
  font-size: 1.5em;
  font-weight: 100;
}

button {
  margin: 2em;
  margin-bottom: 0;
}

.topRow {
  position: absolute;
  right: 3em;
  top: .5em;
  margin-bottom: 1em;
}

.fa-times {
  position: absolute;
}

.closeLogin {
  position: absolute;
  right: .5em;
  top: -.5em;
}

.register {
  background-color: rgba(27, 172, 252,.9);
  color: white;
  font-weight: bold;
  border: none;
  padding: .75em;
  font-size: 1.1em;
  min-width: 25%;
}


/*REGISTER MODAL*/





@media(max-width: 780px) {

  .wrapper {
    background-position: right;
      background-size: cover;
      height: 100%;
      background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url('../../../../../assets/golf1.jpg');
      background-size: cover;
      width: 100%;
  }

  .register {
    width: 45%;
  }

  .mainTitle {
    font-size: 2.25em;
    /*margin: .5em;*/
    margin-top: 2em;
    margin-bottom: 1.5em;
  }

  .mainText {
    font-size: 1.25em;
    margin-bottom: 1.5em;
  }

  .title {
    font-size: 1.75em;
    margin-bottom: .5em;
  }

  .subText {
    font-size: 1em;
    margin-bottom: 1.5em;
  }

  .register {
    width: 67.5%;
  }

}

@media(max-width: 650px){
  .modalWrapper {
    margin: .25em;
    top: 3.5em;
    padding:1.5em;
  }


  .loginModal {
    top: 5em;
    width: 87.5%;
  }
}
