.wrapper {
  height: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../../../../../assets/golf.jpg');
  background-size: cover;
  margin-top: -2%;
  width: 100vw;
}

.half {
  width: 48%;
  text-align: center;
}

.left {
  text-align: center;
  color: white;
  justify-content: center;
  width: 62.5%;
}

.mainTitle {
  font-size: 4.5em;
  font-weight: 800;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.info {
  font-weight: 300;
  margin: auto;
  margin-top: 2%;
  font-size: 1.65em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 75%;
}

.buttons {
  width: 40%;
}

.btn {
  width: 50%
}

.register {
  background-color: rgba(27, 172, 252,.9)
}

.account {
  cursor: default;
}

.account em{
  cursor: pointer;
}

:host /deep/ h3 {
  color: blue;
  font-size: 10em;
}
