.wrapper {
  height: 100%;
  background-image: url('../../../../../assets/golf.jpg');
  background-size: cover;
  background-position:bottom;
  width: 100%;
}

.half {
  width: 48%;
  text-align: center;
}


.mainText{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  width: 62.5%;
}
.mainTitle {
  font-size: 3.5em;
  font-weight: 800;
}

.info {
  width: 68%;
  margin-top: 2em;
  font-size: 1.25em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 400;
  line-height: 2;
}

.buttons {
  width: 35%;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(255,255,255,.5)
}

.register {
  background-color: rgba(27, 172, 252,.9)
}

.account {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
}

.account em{
  cursor: pointer;
  color: darkblue;
  text-shadow: none;
}

.account em:hover{
  color: rgba(85, 99, 240,1);
  text-shadow: -.01px 0 black, 0 .01px black, .01px 0 black, 0 -0.01px black;
  cursor: pointer;
}

:host /deep/ h3 {
  color: blue;
  font-size: 10em;
}

.modal-header {
  border: none;
}

.registerText {
  width: 50%;
  justify-content: center;
  padding-left: 1em;
}

.bigTitle {
  font: 4.5em;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 1em;
  width: 100%;
  font-weight: bolder;
}

.littleText {
  margin-top: 1em;
  line-height: 1.5;
  text-align: left;
  width: 100%;
}


.form {
  width: 45%;
}


/*MODAL*/

.modal-content {
  background-color: #5563F0;
  color: white;
}

@media(max-width: 780px) {

  .wrapper {
    background-position: right;
      background-size: cover;
      height: 100%;
      background-image: url('../../../../../assets/golf1.jpg');
      background-size: cover;
      width: 100%;
  }
  .mainText{
    width: 90%;
  }
  .mainTitle {
    font-size: 3.5em;
  }

  .info {
    margin-top: 1em;
    width: 85%;
  }

  .buttons {
    padding-bottom: 0;
    width: 75%;
  }

}

@media(max-width: 500px) {
  .mainTitle {
    font-size: 2em;
  }
  .mainText {
    width: 100%;
  }

  .info {
    width: 90%;
    font-size: 1em;
    margin-top: 2.5em;
    line-height: 1.5;
  }
}

@media(max-height:475px) {
  .info {
    font-size: 1em;
    /*margin-top: 2.5em;*/
    /*line-height: 1.5;*/
  }

  .account {
    font-size: .95em;
  }

  .buttons {
    padding: .5em;
    padding-bottom: 0;
  }
}

@media(max-height:375px) {
  .info {
    display: none;
}
}
