<div class="flex wrapper">

  <div class="flex mainText">
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
      {{message}}</div>
    </div>

    <p class="flex mainTitle">Reinventing Learning</p>
    <p class="flex mainInfo">Introducing savvy, a connector of professionals looking to teach, and students looking to learn.</p>
  </div>
  <div class="flex buttons">
      <button type="button" class="btn btn-default register" (click)="animateRegister()">Sign Up for FREE</button>
      <p class="flex switchAccount">Already have an account? <em (click)="animateLogin()" class="pointer">Login Here</em>
      </p>
  </div>

      <!-- NEW MODAL 1 -->

      <div class="flex modalWrapper registerWrapper" [@modalRegisterFade]="registerState">
        <div class="flex">
          <h4 class="caps"><strong>SAVVY Register</strong></h4>
          <div class="flex xClose">
            <i class="fa fa-times fa-2x pointer" aria-hidden="true" (click)="animateRegister()"></i>
          </div>
          <div class="modalContent">
            <div class="flex">
              <div class="flex half modalText">
                  <p class="flex title">Start improving your golf skills now</p>
                  <p class="flex subText">Introducing Savvy, a connector of professionals looking to teach, and students looking to learn.</p>
              </div>
              <div class="flex half form">
                  <div class="form-group">
                    <app-user-register></app-user-register>
                    <div class=" flex">
                      <p (click)="switchForm()" class="switchAccount">Already have an account? <em class="pointer">Login Here</em></p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  <!-- [ Modal #2 ] -->


  <!-- NEW MODAL 2 -->


  <div class="flex modalWrapper loginWrapper" [@modalLoginFade]="loginState">
    <div class="flex">
      <h4 class="caps"><strong>SAVVY Login</strong></h4>
      <div class="flex xClose">
        <i class="fa fa-times fa-2x pointer" aria-hidden="true" (click)="animateLogin()"></i>
      </div>
        <div class="modalContent">
          <div class="flex">
            <app-user-login></app-user-login>
            <div class=" flex">
              <p (click)="switchForm()" class="switchAccount">Don't have an account? <em class="pointer">Register</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
