<div *ngIf="show">
  <div [ngClass]="messageClass">
  {{message}}
  </div>
</div>

<div class="flex main-wrapper">
<div class="flex wrapper">
  <h2>Availability:</h2>
<div class="flex text-wrap">
  <div class="flex text">
    <p>Monday</p>
  </div>
  <div class="flex butts">
    <button class="btn btn-default" [disabled]="processing" (click)="monM = !monM" [ngClass]="{'active': monM}">Morning</button>
    <button class="btn btn-default" [disabled]="processing" (click)="monA = !monA" [ngClass]="{'active': monA}">Afternoon</button>
    <button class="btn btn-default" [disabled]="processing" (click)="monE = !monE" [ngClass]="{'active': monE}">Evening</button>
  </div>
</div>

<div class="flex">
  <div class="flex text">
    <p>Tuesday</p>
  </div>
  <div class="flex butts">
  <button class="btn btn-default" [disabled]="processing" (click)="tueM = !tueM" [ngClass]="{'active': tueM}">Morning</button>
  <button class="btn btn-default" [disabled]="processing" (click)="tueA = !tueA" [ngClass]="{'active': tueA}">Afternoon</button>
  <button class="btn btn-default" [disabled]="processing" (click)="tueE = !tueE" [ngClass]="{'active': tueE}">Evening</button>
</div>
</div>

<div class="flex">
  <div class="flex text">
    <p>Wednesday</p>
  </div>
  <div class="flex butts">
  <button class="btn btn-default" [disabled]="processing" (click)="wedM = !wedM" [ngClass]="{'active': wedM}">Morning</button>
  <button class="btn btn-default" [disabled]="processing" (click)="wedA = !wedA" [ngClass]="{'active': wedA}">Afternoon</button>
  <button class="btn btn-default" [disabled]="processing" (click)="wedE = !wedE" [ngClass]="{'active': wedE}">Evening</button>
</div>
</div>

<div class="flex">
  <div class="flex text">
    <p>Thursday</p>
  </div>
<div class="flex butts">
  <button class="btn btn-default" [disabled]="processing" (click)="thuM = !thuM" [ngClass]="{'active': thuM}">Morning</button>
  <button class="btn btn-default" [disabled]="processing" (click)="thuA = !thuA" [ngClass]="{'active': thuA}">Afternoon</button>
  <button class="btn btn-default" [disabled]="processing" (click)="thuE = !thuE" [ngClass]="{'active': thuE}">Evening</button>
</div>
</div>

<div class="flex">
  <div class="flex text">
    <p>Friday</p>
  </div>
  <div class="flex butts">
  <button class="btn btn-default" [disabled]="processing" (click)="friM = !friM" [ngClass]="{'active': friM}">Morning</button>
  <button class="btn btn-default" [disabled]="processing" (click)="friA = !friA" [ngClass]="{'active': friA}">Afternoon</button>
  <button class="btn btn-default" [disabled]="processing" (click)="friE = !friE" [ngClass]="{'active': friE}">Evening</button>
</div>
</div>

<div class="flex">
  <div class="flex text">
    <p>Saturday</p>
  </div>
    <div class="flex butts">
    <button class="btn btn-default" [disabled]="processing" (click)="satM = !satM" [ngClass]="{'active': satM}">Morning</button>
    <button class="btn btn-default" [disabled]="processing" (click)="satA = !satA" [ngClass]="{'active': satA}">Afternoon</button>
    <button class="btn btn-default" [disabled]="processing" (click)="satE = !satE" [ngClass]="{'active': satE}">Evening</button>
  </div>
</div>

<div class="flex">
  <div class="flex text">
    <p>Sunday</p>
  </div>
  <div class="flex butts">
    <button class="btn btn-default" [disabled]="processing" (click)="sunM = !sunM" [ngClass]="{'active': sunM}">Morning</button>
    <button class="btn btn-default" [disabled]="processing" (click)="sunA = !sunA" [ngClass]="{'active': sunA}">Afternoon</button>
    <button class="btn btn-default" [disabled]="processing" (click)="sunE = !sunE" [ngClass]="{'active': sunE}">Evening</button>
  </div>
</div>
<div class="flex update">
  <button class="btn btn-success updateButton"  (click)='onSchedule()' [disabled]="processing">Update Availability</button>
  <div class="flex examples">
    <button class="btn btn-default active">Available</button>
    <button class="btn btn-default">Not Available</button>
  </div>
</div>
</div>
</div>
