<h2>Schedule:</h2>

<div class="flex">
<div class="btn-group flex" data-toggle="buttons">
  <p>Monday</p>
  <label class="btn btn-secondary">
    <input type="checkbox" checked autocomplete="off"> Morning
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Afternoon
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Evening
  </label>
</div>

<div class="btn-group flex" data-toggle="buttons">
  <p>Tuesday</p>
  <label class="btn btn-secondary">
    <input type="checkbox" checked autocomplete="off"> Morning
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Afternoon
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Evening
  </label>
</div>

<div class="btn-group flex" data-toggle="buttons">
  <p>Wednesday</p>
  <label class="btn btn-secondary">
    <input type="checkbox" checked autocomplete="off"> Morning
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Afternoon
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Evening
  </label>
</div>

<div class="btn-group flex" data-toggle="buttons">
  <p>Thursday</p>
  <label class="btn btn-secondary">
    <input type="checkbox" checked autocomplete="off"> Morning
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Afternoon
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Evening
  </label>
</div>

<div class="btn-group flex" data-toggle="buttons">
  <p>Friday</p>
  <label class="btn btn-secondary">
    <input type="checkbox" checked autocomplete="off"> Morning
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Afternoon
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Evening
  </label>
</div>

<div class="btn-group flex" data-toggle="buttons">
  <p>Saturday</p>
  <label class="btn btn-secondary">
    <input type="checkbox" checked autocomplete="off"> Morning
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Afternoon
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Evening
  </label>
</div>

<div class="btn-group flex" data-toggle="buttons">
  <p>Sunday</p>
  <label class="btn btn-secondary">
    <input type="checkbox" checked autocomplete="off"> Morning
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Afternoon
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Evening
  </label>
</div>
</div>
