.main-wrapper {
  padding: 1em;
  height: 32em;
  background-color: #F2F2F2;
}

.butts {
  width: 75%;
  margin: 0;
}

.butts button {
  margin: 1%;
  width: 30%;
  font-size: 110%;
  padding: .5em;
}

.text {
  width: 22%;
  align-self: center;
  align-items: center;
  font-size: 1.2em;
  background-color: lightgrey;
  padding-top: .8em;
}

.update {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 80%;
}

.updateButton {
  width: 48.5%;
  margin-right: .5em;
}

.examples {
  width: 35%;
  pointer-events: none;
  margin-left: 3%;
}

.examples button {
  margin: .1em;
  line-height: 0;
  font-size: 100%;
  margin-left: 0;
  width: 100%;
}
