/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

ul.help-block {
  list-style-type: square;
    margin: 0;
    margin-top: 3%;
    padding: 0;
    background-color: rgba(215,215,215,.8)
}

ul.help-block li {
  text-align: left;
  padding: 1%;
  font-size: 1.2em;
  list-style-position: inside;
}

label {
  color: lightgrey;
  display: none;
}

.title {
  padding-bottom: 2.5%;
  border-bottom: 1px solid white;
}

.account {
  color: lightgrey;
  margin-top: 2%;
  width: 100%;
}

.em{
  color: dodgerblue;
  text-decoration: underline;
}

.submit {
  width: 100%;
}

.half {
  width: 45%;
  margin: 2%;
}
