<!-- <div class="loadingDiv" *ngIf="isLoading">
  <div class="loader"></div>
</div> -->

<!-- <div class="flex modall" [ngClass]="{fadeOut: checkCookies() || cookies}"> -->
<div class="flex modall" [@modalFade]="state">
  <div class="flex">
    <div class="flex xClose">
      <i class="fa fa-times fa-2x" aria-hidden="true" (click)="animate()"></i>
    </div>
    <div class="flex text">
      <p class="flex modalTitle">savvy</p>
      <p class="explain">This website is the first sprout . We are starting with golf, but are going to expand the platform into anything and everything that you want to learn, or that you are passionate about teaching.</p>
      <p class="persuade">Sign-up to follow along with the <strong>savvy</strong> launch.</p>
    </div>
    </div>
    <form [formGroup]="emailForm" class="flex">
      <div class="flex form">
        <ul class="help-block flex">
          <li *ngIf="emailForm.controls.email.errors?.required && emailForm.controls.email.touched">This field is required</li>
          <li *ngIf="emailForm.controls.email.errors?.minlength && emailForm.controls.email.touched">Email must contain a minimum of 5 characters</li>
          <li *ngIf="emailForm.controls.email.errors?.maxlength && emailForm.controls.email.touched">Email must contain fewer than 30 characters</li>
          <li *ngIf="emailForm.controls.email.errors?.validateEmail && emailForm.controls.email.touched">Must be a valid email</li>
          <li *ngIf="emailMessage"> {{emailMessage}} </li>
        </ul>
        <div class="form-group input">
          <div [ngClass]="{'has-error': (emailForm.controls.email.errors && emailForm.controls.email.dirty) || (!emailValid && emailForm.controls.email.touched), 'has-success': !emailForm.controls.email.errors && emailValid }">
            <input type="text" class="form-control" name="email" autocomplete="off" placeholder="Email Address" formControlName="email" (blur)="checkEmail()">
          </div>
        </div>
        <div class="form-group button">
          <button [disabled]="!emailForm.valid || processing" class="btn btn-success submit" (submit)="emailSubmit()">Submit</button>
        </div>
      </div>
    </form>
</div>

<div class="flex wrapper">
<!-- <div class="flex wrapper" (click)="animate()"> -->
  <div class="flex">
    <span [ngClass]="(loginState === 'loginFadein' || registerState === 'registerFadein') ? 'greyOut' : 'homey'"></span>
    <app-hero class="hero"></app-hero>
    <app-options class="options"></app-options>
    <!-- <div class="container optionsContainer">
      <div class="row">
        <div class="col-md-4 col-xs-12 option">
          <span class="flex"><i class="fa fa-search fa-4x"></i></span>
          <p class="titles">Find A Professional</p>
          <p class="col-xs-10 col-xs-offset-1 optionText">Search through a curated list of top coaches tailored to your skill level, location &amp; price.</p>
        </div>
        <div class="col-md-4 col-xs-12 option">
          <span class="flex"><i class="fa fa-calendar fa-4x" ></i></span>
          <p class="titles">Set an Appointment</p>
          <p class="col-xs-10 col-xs-offset-1 optionText">Easily see a coach's availability and chat with them to schedule an appointment that works for you.</p>
        </div>
        <div class="col-md-4 col-xs-12 option">
          <span class="flex"><i class="fa fa-line-chart fa-4x"></i></span>
          <p class="titles">Improve Your Game</p>
          <p class="col-xs-10 col-xs-offset-1 optionText">See your skills and passion improve at every step.</p>
        </div>
      </div>
    </div> -->
    <app-future class="future"></app-future>
    <app-teachers-list class="teachers-list homeTeachersList"></app-teachers-list>
    <app-bottom-sign-up class="bottom-sign-up"></app-bottom-sign-up>

  </div>
</div>
