<div class="flex">
<div class="flex modall" [ngClass]="{fade: checkCookies() || cookies}">
  <div class="flex">
    <h2 class="flex modalTitle">Welcome to Savvy!</h2>
    <p>This website is the first sprout . We are starting with golf, but are going to expand the platform into anything and everything that you want to learn, or that you are passionate about teaching.

      Sign-up below to stay to stay updated each step of the way as we roll out the full website. </p>
    </div>
    <form [formGroup]="ideaForm" (submit)="ideaSubmit()">
      <div class="form-group">
        <input type="text" name="" formControlName="ideas" value="" class="form-control flex">
        <button type="button" name="button" class="btn btn-default btn-success flex form-control">Submit</button>
      </div>
    </form>
  </div>
<div class="flex wrapper" (click)="closeInitialModel()">
  <app-hero class="hero"><div class="flex"><button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button></div></app-hero>
  <app-options class="options"><button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button></app-options>
  <app-future class="future"><button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button></app-future>
  <app-teachers-list class="teachers-list"><button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button></app-teachers-list>
  <app-bottom-sign-up class="bottom-sign-up"><button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button></app-bottom-sign-up>
</div>
</div>
