<div class="flex">
  <div class="flex third">
    <div class="flex">
      <img src="{{ profPic }}" alt="">
    </div>
    <button type="button" name="button" class="flex upload btn btn-default">Upload Photo</button>
  </div>
  <div class="flex third">
    <h3>{{ fullname }}</h3>
    <h5>{{ email }}</h5>
  </div>
  <div class="flex third">
    <h2 class="flex">Accounts:</h2>
    <a href="" class="btn btn-primary"><p class="flex">{{ isStudent }}</p></a>
    <a href="" class="btn btn-success"><p class="flex">{{ isTeacher }}</p></a>
  </div>
</div>

<hr>

<!-- <app-teachers-list></app-teachers-list> -->
