.wrapper {
  background-color: #F7F4F4;
  margin: 0;
}


.flex a {
  width: 14em;
  margin: 1%;
}

a p {
  font-size: 1em;
  margin-top: 2%;
  font-weight: 600;
}

img {
  width: 10em;
}

.upload {
  width: 10em;
  margin-top: 2%;
}

.file-over { border: dotted 3px red; }

@media(max-width:845px) {
  .wrapper {
    margin: -0.4em;
  }
}
