<!-- <div class="loadingDiv" *ngIf="isLoading">
  <div class="loader"></div>
</div> -->

<span *ngIf="!isLoading">
<div class="flex featured">
  <app-featured-teacher></app-featured-teacher>
</div>

<app-teachers-list class="flex tl"></app-teachers-list>
</span>


<!-- <div class="flex choose">
  <app-choose><button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button></app-choose>
</div> -->


<!-- <input type="file" name="avatar" (change)="onChange($event)">
<button class="btn btn-success" (click)="fileSubmit()">Submit</button> -->



<!-- <input #fileInput type="file"/>
<button (click)="addFile()">Add</button> -->
