.third {
  width: 25em;
}


.flex a {
  width: 14em;
  margin: 1%;
}

a p {
  font-size: 1em;
  margin-top: 2%;
  font-weight: 600;
}

img {
  width: 10em;
}

.upload {
  width: 10em;
  margin-top: 2%;
}
