.editLogo {
  font-size: 1.75em;
}

/*Bio Div*/

.bioRow {;
  background-color: #5563F0;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 20em;
  color: white;
  text-align: center;
  width: 105vw;
  text-align: left;
}

.about {
  font-size: 1.25em;
  font-weight: 400;
  text-align: left;
  margin-left: 1.5em;
}

.bioText {
  margin-top: 1.25em;
  font-size: 1.35em;
  font-weight: 500;
  text-align: left;
  margin-left: 1.5em;
}

.bioInput {
  margin-top: 1em;
  font-size: 1.35em;
  font-weight: 500;
  background: transparent;
  border: none;
  border: .5px 0 .5px .5px solid white;
  color: white;
  width: 85%;
  flex-wrap: wrap;
  resize: none;
  margin-left: .75em;
}



@media (max-width: 650px) {
  .bioRow {
    padding: 0;
  }
  .about {
    margin-top: 2em;
  }
  .editLogo {
    margin-top: .5em;
    right: 0;
  }
}


/*Vid Div*/


.vidContainer {
  margin-top: 2em;
  color: white;
  padding: 0;
}

.vidBlock {
  background-color: #5563F0;
  padding: 1em;

}
.uploadButt {
padding: 1em;
font-size: 1.25em;
}

.uploadText {
  font-size: 1.35em;
  margin-top: 1.5em;
  font-weight: 500;
}

.uploadText span {
  font-size: 1em;
  font-weight: 100;
}

/*Reviews Container*/


.reviewsContainer {
  background-color: #F7F4F4;
  width: 100%;
  min-height: 200px;
  margin-top: 3em;
}

.teacherReviewDiv {
  height: 350px;
  overflow: scroll;
}


.showMore {
  font-size: 1.25em;
  font-weight: 500;
  margin: 1em;
}

.blue {
  color: #1BACFC;
  }

.experiences {
  margin-top: 2em;
  overflow: scroll;
}

.experiences li {
  list-style: none;
  justify-content: flex-start;
  margin: 2em;
  margin-left: -1.75em;
}

.experiences li i {
  font-family: 'FontAwesome';
  color: #5563F0;
  margin-right: 1.5em;
  margin-left: 2.2em;
}

.proExperience {
  background-color: #2B2A2A;
  color: white;
  min-height: 450px;
}

.buttsDiv {
  margin-left: 2em;
}




li {
  list-style: none;
  margin: 1%;
}

textarea {
  color: black;
  width: 65em;
  height: 8em;
}


.fa-cloud-upload {
  font-size: 15em;
  color: white;
}

input[type="file"] {
    display: none;
}


.custom-file-upload {
    background-color: #1BACFC;
    display: inline-block;
    padding: .5em;
    color: white;
    cursor: pointer;
    width: 40%;
    font-weight: 500;
    margin: .5em;
}



.img {
  width: 50%;
  justify-content: flex-start;
}

.golfing-img {
  width: 100%;
  left: 0;
  margin: 0;
  position: relative;
}

.save button {
  margin: .75em;
}

.right {
  width: 45%;
  margin: 2.5%;
}

.right p {
  font-size: 250%;
}



.edit {
  width: 25%;
}

span {
  font-size: 1.6em;
}

.becomeTeacher {
  height: 100vh;
}




.experienceInput {
  color: white;
  height: 2.425em;
  /*width: 40%;*/
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-left: 4em;
}

.btn {
  border: none;
  margin: 1em;
}

textarea::placeholder {
  color: lightgrey;
}


/*.successEditBio {
  color: white;
}*/



.cancelEditBio {
  right: 2.25em;
}

.proExpEditLogo {
  right: .5em;
}

.bioEditLogo {
  right: -1.75em;
}

.successproExpEdit {
top: 1em;
right: 2em;
}

.cancelproExpEdit {
top: 1em;
right: 3.5em;
}

.bioInput:focus {
  outline: none;
}


.greyOut {
  position: fixed;
  margin: 0;
  padding: 0;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(155,155,155,.5);
}


.statusModal {
  position: fixed;
  top: 25%;
  left: 23%;
  right: 23%;
  z-index: 1000;
  color: white;
  background-color: rgba(	85, 99, 240,1);
  width: auto;
  height: justify;
  padding: 4em;
  padding-top: 1em;
}

.statusModal h3 {
  font-weight: 500;
  font-size: 1em;
}

.statusList {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  margin-top: .5em;
}

.status {
  color: #5ADA6A;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  width: 100%;
}

.ploos {
  font-size: 1.6em;
}

.xClose {
  top: .5em;
  right: 1em;
  justify-content: flex-end;
  position: absolute;
}

.xClose:hover {
  cursor: pointer;
}

.fadeOut {
transition: all .5s ease-in-out;
opacity: 0;
visibility: hidden;
}

.activateButtons .btn {
  padding-left: .5em;
  padding-right: .5em;
  font-weight: 500;
  min-width: 35%;
  width: auto;
  max-width: 40%;
  margin: .75em;
}


button:hover {
  font-weight: 500;
}

.add {
  background-color: #1BACFC;
  color: white;
}

.delete {
  background-color: red;
}

.reset {
  background-color: white;
}

@media(max-width: 1100px){

  textarea {
    width: 45em;
  }
}

@media(max-width: 850px){
  textarea {
    width: 35em;
    height: 4.5em;
  }

  .statusModal {
    top: 10%;
    z-index: 100;
    left: 10.5%;
    right: 10.5%;
    padding: 2em;
  }
}

@media(max-width: 650px) {


  textarea {
    width: 30em;
    height: 4.5em;
  }

  .experiences li {
    list-style: none;
    justify-content: flex-start;
    margin: 2em;
    margin-left: -3em;
  }


}

@media(max-width: 500px) {


  textarea {
    width: 20em;
  }

  .vidBlock {
    padding: 2em;
  }


  .custom-file-upload {
      width: 60%;
      padding: 0;
  }

  .uploadText {
    width: 88%;
  }

  .fa-cloud-upload {
    font-size: 8.5em;
  }


  .experiences {
    justify-content: flex-start;
    padding: 0;
  }


  /*.dynamicExperiences  input {
    width: 100%;
    height: 3.5em;
    padding-top: 0;
  }

.dynamicExperiences  button {
  width: 100%;
}*/




.statusModal {
  top: 10%;
  z-index: 100;
  left: 4.5%;
  right: 4.5%;
  padding: 2em;
}

.statusListDiv h4 {
  font-weight: 300;
}

ul.statusList {
  width: 100%;
}


li.status {
  margin: 0;
  text-align: left;
  width: 100%;
  list-style: disc;
}
}

@media(max-width: 300px) {

  textarea {
    width: 15em;
  }
}
