<div class="loadingDiv" *ngIf="isLoading">
  <div class="loader"></div>
</div>

<div class="row show-hide-message" *ngIf="show">
  <div [ngClass]="messageClass">
  {{message}}</div>
</div>


<div class="flex becomeTeacher" *ngIf="!isTeacher">
  <h2 class="flex">Become a Teacher and connect with Students Today!</h2>
  <div class="flex">
    <button class="btn btn-success" (click)="becomeTeacherRegister()">Click Here</button>
  </div>
  <hr>
</div>



  <app-teacher-profile-main></app-teacher-profile-main>

  !-- bio row -->


<div class="container bioRow"  *ngIf="isTeacher && !isLoading" (click)="closeStatusModal()">
  <div class="row leftText bioRow">
    <div class="col-xs-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <p class="about">About scvs{{ fullname }}</p>
    </div>
    <div class="col-xs-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <p class="bioText">{{bio}}</p>
    </div>
    <button class="btn btn-warning editBio" (click)="isBioEdit = !isBioEdit">Edit</button>
    <form [formGroup]='bioForm' (submit)="bioFormSubmit()" *ngIf=isBioEdit>
      <textarea name="bio" formControlName="bio" placeholder="Write your Bio here ~ approx 200 characters" value="{{ bio }}"></textarea>
      <div class="flex save">
        <button type="button" class="btn btn-warning" (click)="isBioEdit = !isBioEdit">Cancel</button>
        <button type="submit" class="btn btn-success" [disabled]="!bioForm.controls.bio.value">Save</button>
      </div>
    </form>
  </div>
</div>


<!-- .video row -->

<div class="container vidContainer" *ngIf="isTeacher && !isLoading" (click)="closeStatusModal()">
  <div class="row show-hide-message" *ngIf="showVidSubmitMessage" style="width: 40%; font-size:1.25em; font-weight: 500;" >
    <div [ngClass]="messageClass" style=" font-size:1.25em; font-weight: 500;">
      {{vidSubmitMessage}}</div>
    </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 vidBlock">
      <div class="row cloudImg">
        <div class="col-xs-12">
          <i class="col-xs-12 fa fa-cloud-upload" aria-hidden="true"></i>
          <!-- <button class="btn btn-info col-xs-4 col-xs-offset-4 uploadButt">Upload Video</button> -->
          <label for="fileInput" class="custom-file-upload">
            <h4>Upload Video</h4>
          </label>
          <input #fileInput id="fileInput" type="file" (change)=getVidFile($event)/>
          <div class="flex vidSubmitDiv" *ngIf="canSubmitVideo">
            <p class="flex" style="color: white;" *ngIf="videoFileName"><strong>File:</strong> &nbsp; <em>{{ videoFileName }}</em></p>
            <button class="btn btn-success" (click)="videoSubmit()" [disabled]="!videoFileName">Submit</button>
          </div>
          <p class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 uploadText">
            Upload a video introducing yourself to students, or showing off your skills. <span>(Optional)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container reviewsContainer" *ngIf="isTeacher && !isLoading" (click)="closeStatusModal()">
  <div class="row">
    <div class="col-md-6 reviews">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 leftText">
          <h3>Reviews</h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <app-teacher-reviews></app-teacher-reviews>
        </div>
      </div>
    </div>
    <div class="col-md-6 proExperience">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 leftText">
          <h3 >Professional Experience:</h3>
          <h6 *ngIf="experiences == undefined || null">Please Update Your Experiences </h6>
        </div>
        <div class="">
          <ul class="col-md-10 col-md-offset-1 experiences" *ngFor="let experience of experiences">
            <li class="flex">
              <i class="fa fa-plus ploos" aria-hidden="true"></i>
              <span>{{ experience }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="flex half exp">

  <ul class="flex experiences" *ngFor="let experience of experiences">
    <li class="flex"><i class="fa fa-plus ploos" aria-hidden="true"></i>
      <span>{{ experience }}</span>
    </li>
  </ul>
  <div class="flex dynamicExperiences">
    <h4 *ngIf="maxExperiences" style="color:red;">You already have 5 expereiences!</h4>
    <input (keyup)="getNewExperience($event)" class="experienceInput" *ngIf="!maxExperiences" value="{{experienceValue}}" placeholder="Add New Experience...">
    <button class="btn btn-primary experienceAddButton" (click)="addExperience()" *ngIf="!maxExperiences" [disabled]="[experienceValue] == ''">Add Experience</button>
    <button class="btn btn-danger experienceButton" (click)="clearExperience()">Reset Experiences</button>
  </div>
</div> -->

  <!-- <div class="flex reviewsContainer"> -->
    <!-- <div class="flex half reviews">
      <h3 class="flex reviewsTitle">Reviews</h3>

    </div> -->

  <!-- </div> -->
<!-- </div> -->


<span *ngIf="!isLoading && !isOnline">
<div class="flex statusModal" [ngClass]="{fadeOut: cookies}">
  <div class="flex">
    <div class="flex xClose">
      <i class="fa fa-times fa-2x" aria-hidden="true" (click)="closeStatusModal()"></i>
    </div>
    <div class="teacherStatusModal">
      <div class="row show-hide-message">
        <div [ngClass]="messageClass">
        {{message}}</div>
      </div>
      <div class="flex leftText">
        <h2 style="font-size:2em;">Welcome to your Teacher Profile, {{ fullname }}!</h2>
      </div>
      <div class="flex statusListDiv leftText">
        <h4 *ngIf="!canChangeStatus" style='font-weight:300; margin-top: 1em;'>To activate your profile, please update the following:</h4>
        <h4 *ngIf="canChangeStatus">You are currently <span [ngClass]="isOnline ? 'online' : 'offline'">{{ onlineStatus }}</span></h4>
        <ul class="flex statusList leftText">
          <li class="status" *ngIf="profPicName === 'blankProf.png'">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp; Please add a picture to your profile page.
          </li>
          <li class="status" *ngIf="!skill1 || !skill2">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp; Please upate your skills section.
          </li>
          <li class="status" *ngIf="!bio">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp; Please update your bio section.
          </li>
          <li class="status" *ngIf="!experiences">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp; Please add 2 or more experiences to your profile.
          </li>
          <!-- <li class="status" *ngIf="!skill2">
            Please update your availability section.
          </li> -->
        </ul>
        <div class="flex activateButtons" *ngIf="canChangeStatus">
          <button class="btn btn-danger" (click)="goOffline()" *ngIf="onlineStatus === 'ONLINE'">Go Offline</button>
          <button class="btn btn-danger" (click)="goOffline()" *ngIf="onlineStatus === 'OFFLINE'">Stay Offline</button>
          <button class="btn btn-info" (click)="goOnline()" *ngIf="onlineStatus === 'OFFLINE'">Go Online</button>
          <button class="btn btn-info" (click)="goOnline()" *ngIf="onlineStatus === 'ONLINE'">Stay Online</button>
        </div>
      </div>
    </div>
  </div>
</div>
</span>
