/*Bio Div*/

.bioRow {
  background-color: #5563F0;
  width: 100%;
  padding: 4em;
  padding-top: 2.5em;
  padding-bottom: 3em;

  color: white;
}

.about {
  font-size: 1.15em;
  font-weight: 400;
}

.bioText {
  margin-top: 1.25em;
  font-size: 1.35em;
  font-weight: 500;
}



/*Vid Div*/


.vidContainer {
  margin-top: 2em;
  color: white;
}

.vidBlock {
  background-color: #5563F0;
  padding: 4em;

}
.uploadButt {
padding: 1em;
font-size: 1.25em;
}

.uploadText {
  font-size: 1.35em;
  margin-top: 1.5em;
  font-weight: 500;
}

.uploadText span {
  font-size: 1em;
  font-weight: 100;
}

/*Reviews Container*/


.reviewsContainer {
  background-color: #F7F4F4;
  width: 100%;
  height: 450px;
  margin-top: 3em;
}


.experiences {
  margin-top: 2em;
}

.experiences li {
  list-style: none;
  justify-content: flex-start;
  margin: 0;
  margin-left: -3.5em;
}

.experiences li i {
  font-family: 'FontAwesome';
  color: #5563F0;
  margin-right: 1.5em;
  margin-left: 2.2em;
}

.proExperience {
  background-color: #2B2A2A;
  color: white;
  height: 450px;
}






li {
  list-style: none;
  margin: 1%;
}

textarea {
  color: black;
  width: 65em;
  height: 8em;
}


.fa-cloud-upload {
  font-size: 15em;
  color: white;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #1BACFC;
    display: inline-block;
    padding: .5em;
    color: white;
    cursor: pointer;
    width: 40%;
    font-weight: 500;
    margin: .5em;
}



.img {
  width: 50%;
  justify-content: flex-start;
}

.golfing-img {
  width: 100%;
  left: 0;
  margin: 0;
  position: relative;
}

.save button {
  margin: .75em;
}

.right {
  width: 45%;
  margin: 2.5%;
}

.right p {
  font-size: 250%;
}



.edit {
  width: 25%;
}

span {
  font-size: 1.6em;
}

.becomeTeacher {
  height: 100vh;
}

.experienceInput {
  color: black;
  height: 2.425em;
  width: 40%;
}

.btn {
  border: none;
}

.experienceAddButton {
  background-color: #5563F0;
}

.dynamicExperiences *{
  margin: .5em;
}







.statusModal {
  position: fixed;
  top: 25%;
  left: 23%;
  right: 23%;
  z-index: 1000;
  color: white;
  background-color: rgba(	85, 99, 240,1);
  width: auto;
  height: justify;
  padding: 4em;
  padding-top: 1em;
}

.statusModal h3 {
  font-weight: 500;
  font-size: 1.5em;
}

.statusList {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  margin-top: .5em;
}

.status {
  color: #5ADA6A;
  font-weight: 400;
  text-align: left;
  font-size: .85em;
  width: 100%;
}

.fa-plus {
  font-size: .75em;
}

.ploos {
  font-size: 1.6em;
}

.xClose {
  top: .5em;
  right: 1em;
  justify-content: flex-end;
  position: absolute;
}

.xClose:hover {
  cursor: pointer;
}

.fadeOut {
transition: all .5s ease-in-out;
opacity: 0;
visibility: hidden;
}

.activateButtons .btn {
  padding-left: .5em;
  padding-right: .5em;
  font-weight: 500;
  min-width: 35%;
  width: auto;
  max-width: 40%;
  margin: .75em;
}

@media(max-width: 1100px){

  textarea {
    width: 45em;
  }
}

@media(max-width: 850px){
  textarea {
    width: 35em;
    height: 4.5em;
  }

  .statusModal {
    top: 10%;
    z-index: 100;
    left: 10.5%;
    right: 10.5%;
    padding: 2em;
  }
}

@media(max-width: 650px) {
  .half {
    width: 100%;
  }


  textarea {
    width: 30em;
    height: 4.5em;
  }


}

@media(max-width: 500px) {


  textarea {
    width: 20em;
  }

  .vidBlock {
    padding: 2em;
  }


  .custom-file-upload {
      width: 60%;
      padding: 0;
  }

  .uploadText {
    width: 88%;
  }

  .fa-cloud-upload {
    font-size: 8.5em;
  }


  .experiences {
    justify-content: flex-start;
    padding: 0;
  }


  .dynamicExperiences  input {
    width: 100%;
    height: 3.5em;
    padding-top: 0;
  }

.dynamicExperiences  button {
  width: 100%;
}




.statusModal {
  top: 10%;
  z-index: 100;
  left: 4.5%;
  right: 4.5%;
  padding: 2em;
}

.statusListDiv h4 {
  font-weight: 300;
}

ul.statusList {
  width: 100%;
}


li.status {
  margin: 0;
  text-align: left;
  width: 100%;
  list-style: disc;
}
}

@media(max-width: 300px) {

  textarea {
    width: 15em;
  }
}
