.mainWrapper {
  width: 100%;
  background-color: #2B2A2A;
  color: white;
  justify-content: space-between;
}

.imageDiv {
  /*justify-content: flex-start;*/
  padding-right: justify;
  right: 0;
  width: 45%;
  height:418px;
}

.imageDiv img.profPic {
  width: auto;
  min-width: 355px;
  max-width: 385px;
  height: auto;
  height: 418px;
  position: relative;
}

.right {
  width: 50%;
  justify-content: flex-start;
  height: 418px;
}

.right * {
  justify-content: flex-start;
}

.name {
  font-size: 2.25em;
  margin: 0;
  margin-top: .25em;
}

.fa-star  {
  font-size: 1.75em;
}

.up {
  margin-top: -1.25em;
}

.number {
  margin-left: .35em;
}

.stats {
  width: 100%;
  font-size: 1.05em;
}

p.left {
  font-weight: 300;
}

.contactDiv {
  width: 90%;
}

.contact {
  background-color: #1BACFC;
  width: 46%;
  margin: 2%;
  margin-left: .25em;
  border: none;
  color: white;
}

.review {
  background-color: #5563F0;
  width: 46%;
  margin: 2%;
  border: none;
  color: white;
}

.edit {
  width: 75%;
}

/*FORM*/

.formWrapper {
  height: 387px;
  margin: 2%;
}

form {
  width: 95%;
}

.city {
  width: 40%;
}

.city *{
  width: 90%;
}
.county {
  width: 28%;
  color: black;
}

.county * {
  width: 90%;
}

select {
  height: 2.5em;
}

.experience {
  width: 28%;
  color: black;
}

.experience * {
  width: 90%;
}

.moreInfo {
  margin-top: 1em;
  justify-content: flex-start;
}

.handicap {
  width: 50%;
  color: black;
}


.handicap h4 {
  width: 40%;
  color: white;
}

.handicap select {
  width: 25%;
}

.cost {
  width: 40%;
}

.cost h4 {
  width: 50%;
  margin-right: 4%;
}

.cost input {
  width: 45%;
}

.skillsWrapper {
  margin-top: 1em;
}

.skillsWrapper h4 {
  width: 20%;
}

.skillsWrapper input {
  width: 22.5%;
  margin: 1%;
}

.butts {
  margin-top: 1em;
}

.butts button {
  margin: 1em;
  padding-left: 2em;
  padding-right:2em;
}



.fileBrowse {
  width: auto;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 1.25em;
  border: 2px solid white;
  position: absolute;
}


/*Rating Modal*/

.review-exp-wrapper {
  margin-top: 1.25em;
}

.ratingButton {
  margin: 1.25em;
}

.ratingDiv {
  width: 100%;
  justify-content: center;
  position: absolute;
}

.rate {
  position: fixed;
  top: 8.5em;
  width: 95.75%;
  z-index: 1000;
  background-color: #5563F0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.exp {
  background-color: #2B2A2A;
  color: white;
  margin: 0;
  width: 52%;
  height: justify;
  padding: 1em;
}

.experiences {
  justify-content: flex-start;
  text-align: left;
  margin-top: 2%;
}

.experiences li {
  list-style: none;
  margin: .5em;
  justify-content: flex-start;
  font-size: 1.75em;
}

.fa-plus {
  font-size: 1.6em;
}

.experiences li i {
  font-family: 'FontAwesome';
  color: #5563F0;
  margin-right: 1.5em;
  margin-left: 2.2em;
  font-size: 1em;
}

.greyOut{
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  background-color: rgba(255,255,255,.6);
}




.opaque {
  opacity: 0;
}

.flex > .rating {
  font-weight: 700;
  margin-left: .2em;
}

.flex textarea {
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
}

.third {
  width: 30%;
  margin: 1%;
}

#textarea {
  border: none;
  border-bottom: 2px solid black;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
   box-shadow: none;
   width: 100%;
}

.butts button {
  width: 20%;
  font-weight: 700;
  margin: 2%;
}

.teacherName {
  justify-content: flex-start;
  padding-left: 2em;
  font-size: 2em;
  font-weight: bold;
  color:white;
}

.btn-success {
  background-color:#1BACFC;
}

.closeButton {
  justify-content: flex-end;
  padding-right: 2em;
  top: 1em;
  position: absolute;
}

.closeButton i {
  font-size: 1.5em;
  color: white;
}


@media(max-width:1250px) {
  .sb {
    margin-top: -4em;
    width: 100%;
  }

  .info p.left {
    font-size: 1.25em;
    text-align: left;
  }

  .imageDiv img.profPic {
    width: 17.5em;
    max-height: 20.5em;
  }
}

@media(max-width:1050px) {
  .image img.profPic {
    width: 16em;
    max-height: 17em;
  }

  .info p.left {
    font-size: 1em;
    line-height: 2;
  }
}

@media(max-width:850px) {

  .image img.profPic {
    width: 14.5em;
    max-height: 16em;
  }
  .stats .info p.left {
    width: 100%;
    justify-content: flex-start;
  }
  .save-edit {
    width: 48%;
  }
}

@media(max-width:750px) {
  .topDiv {
    justify-content: center;
    width: 100%;
  }
}

@media(max-width:650px) {
  .image img.profPic {
    width: 14em;
    max-height: 14.5em;
    margin-left: 5.5em;
  }
  .name {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .rating {
    justify-content: flex-start;
    text-align: left;
    align-self: flex-start;
  }
  .numberRatings {
    justify-content: flex-start;
    margin-left: .25em;
  }
}

@media(max-width:550px) {
  .fa-star {
    font-size: 1.5em;
  }
}

@media(max-width:450px) {
  .image img.profPic {
    width: 12.5em;
    max-height: 13em;
    margin-left: 4em;
  }
  .stats .info p.left{
    line-height: 1.5;
    font-size: .8em;
  }
  .main-wrapper {
    height: 22.5em;
  }
  .sb {
    margin-top: -3em;
  }
  .topDiv {
    margin-top: -1.85em;
  }
}

@media(max-width:400px) {
  .image img.profPic {
    width: 10em;
    max-height: 11em;
    margin-left: 2em;
  }
  .info p.left {
    font-size: .85em;
    text-align: left;
    line-height: 1.25;
    margin: 0;
  }
  .fileBrowse {
    width: auto;
    font-size: 1em;
    border: 2px solid white;
    position: absolute;
  }

  .stats {
    width: 45%;
  }

  .stats .info p.left{
    line-height: 1.65;
  }
}

@media(max-width:325px) {


  .image img.profPic {
    width: 8em;
    max-height: 10em;
  }
  .info {
    width: 100%;
    margin: 0;
  }
  .info p.left {
    font-size: .775em;
    text-align: left;
    line-height: 100.95em;
    margin: 0;
    margin-bottom: .25em;
  }

  .save-edit {
    width: 100%;
    padding: 0;
    margin: .25em;
  }
}

/*STARS*/

.rating {
  border: none;
  float: left;

}

.rating > input  { display: none; }
.rating > i:before {
  display: inline-block;
  font-family: FontAwesome;
  cursor: pointer;
}

.rating > i {
  color: #ddd;
  float: right;
  margin: .1em;
}

.rating > input:checked ~ i {
  color: #00FF99;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: green;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
