.teachInfo {
  background-color: #2B2A2A;
}

.pic {
  margin-left: -1.05em;
  min-height: 380px;
  height: auto;
}

.leftText {
  margin-left: -2em;
  color: white;
}

.ratingDiv {
  z-index: 1000;
  position: fixed;
}

.fa-star {
  font-size: 2em;
}

.numberRatings {
  font-size: .75em;
  font-weight: 300;
  margin-left: 1.75em;
  line-height: 3;
}

.mainInfo {
  margin-top:2em;
}

.col-md-12 p {
  font-size: 1.15em;
}

.col-md-12 p span {
  font-weight: 100;
  line-height: 1.4;
}

.btnRow {
  margin-left: .05em;
  padding: 0;
}

.review {
  background-color: #5563F0;
}

.col-md-6 {
  padding: 0;
}

.btn {
  margin-top: 1em;
  height: 2.5em;
  min-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.preview {
  width: 100%;
}

.custom-file-upload {
    background-color: #5563F0;
    display: inline-block;
    padding: .75em;
    margin-bottom: -12.5em;
    color: white;
    cursor: pointer;
}
.custom-file-upload h6 {
  margin-bottom: -2em;
  margin-top: 0;
}


#fileInput {
  display: none;
}

.fileChangeName {
  font-style: italic;
  margin: 0;
  height: 3em;
}

 p {
  width: auto;
  /*font-size: 1.25em;*/
  font-weight: 500;
}

p > span {
  font-weight: 100;
}

p > select {
  font-weight: 100;
}

.editLabel{
  margin-left: -1.05em;
}

.skill2 {
  margin-left: .1em;
}

.fileInputDiv {
  background-size: contain;
  height: 375px;
  background-color: light grey;
  color:white;
}

select {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}


@media(max-width:500px) {
  .pic {
    min-width: 100%;
    width: auto;
    min-height: 250px;
  }
}


.rating {
  border: none;
  float: left;

}

.rating > input  { display: none; }
.rating > i:before {
  display: inline-block;
  font-family: FontAwesome;
  cursor: pointer;
}

.rating > i {
  color: #ddd;
  float: right;
  margin: .1em;
}

.rating > input:checked ~ i {
  color: #00FF99;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: green;
}
