<div class="flex main-wrapper">
  <div class="flex wrap">
    <div class="flex third image">
      <img class="profile-pic" src="https://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg" alt="">
    </div>
    <div class="flex half left info">
      <h3 class="flex name">{{ fullname }}</h3>
      <p class="flex" *ngIf="yetRated">{{ avgRating | number : '1.1-1' }}</p>
        <p class="flex" *ngIf="!yetRated">Not Yet Rated</p>
      <p class="flex"> {{ numberOfRatings }} Students</p>
      <div class="flex" *ngIf="location == undefined">
          <h2>Please Update Your Information</h2>
      </div>
      <div class="flex">
      <form [formGroup]="infoForm" (submit)="infoSubmit()">
          <div [ngClass]="{'has-error': (infoForm.controls.location.errors && infoForm.controls.location.dirty), 'has-success': !infoForm.controls.location.errors}"><input *ngIf="isEdit" type="text" [value]="" name="location" placeholder="San Diego, CA" class="form-control" formControlName="location">
            <ul class="help-block">
              <li *ngIf="infoForm.controls.location.errors?.required && infoForm.controls.location.dirty">This field is required
              </li>
            </ul>
          </div>
          <div [ngClass]="{'has-error': (infoForm.controls.yrsExperience.errors && infoForm.controls.yrsExperience.dirty), 'has-success': !infoForm.controls.yrsExperience.errors}"><input *ngIf="isEdit" type="number" [value]="" name="yrsExperience" placeholder="3 Years" class="form-control" formControlName="yrsExperience">
            <ul class="help-block">
              <li *ngIf="infoForm.controls.yrsExperience.errors?.required && infoForm.controls.yrsExperience.dirty">This field is required
              </li>
            </ul>
          </div>
          <div [ngClass]="{'has-error': (infoForm.controls.skills.errors && infoForm.controls.skills.dirty), 'has-success': !infoForm.controls.skills.errors}"><input *ngIf="isEdit" type="text" [value]="" name="skills" placeholder="Short game, Putting, Driving" class="form-control" formControlName="skills">
            <ul class="help-block">
              <li *ngIf="infoForm.controls.skills.errors?.required && infoForm.controls.skills.dirty">This field is required
              </li>
            </ul>
          </div>
          <div [ngClass]="{'has-error': (infoForm.controls.handicap.errors && infoForm.controls.handicap.dirty), 'has-success': !infoForm.controls.handicap.errors}"><input *ngIf="isEdit" type="number" [value]="" name="handicap" placeholder="12" class="form-control" formControlName="handicap">
            <ul class="help-block">
              <li *ngIf="infoForm.controls.handicap.errors?.required && infoForm.controls.handicap.dirty">This field is required
              </li>
            </ul>
          </div>
          <div [ngClass]="{'has-error': (infoForm.controls.cost.errors && infoForm.controls.cost.dirty), 'has-success': !infoForm.controls.cost.errors}"><input *ngIf="isEdit" type="number" [value]="" name="cost" placeholder="65" class="form-control" formControlName="cost">
            <ul class="help-block">
              <li *ngIf="infoForm.controls.cost.errors?.required && infoForm.controls.cost.dirty">This field is required
              </li>
            </ul>
            <button type="submit" [disabled]="!infoForm.valid" *ngIf="isEdit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-warning" *ngIf="isEdit" (click)="canEdit()" name="button">Cancel</button>
          </div>
      </form>
      </div>

    <div class="flex" *ngIf="!isEdit && location !== undefined">
      <h5 class="flex"> <em>{{ location }}</em> </h5>
      <h5 class="flex"> <em>{{ yrsExperience }}</em> Years</h5>
      <h5 class="flex"> <em>{{ skills }}</em> </h5>
      <h5 class="flex"> <em>{{ handicap }}</em> Under</h5>
      <h5 class="flex"> $ <em>{{ cost }}</em> /hr</h5>
    </div>

    <div class="flex">
      <button type="button"*ngIf="!isEdit"  (click)="isEdit = !isEdit" class="btn btn-warning">Edit</button>
    </div>
      <!-- <div class="flex butts">
        <button class="btn btn-success butt">Contact</button>
        <button class="btn btn-primary butt">Review</button>
      </div> -->
  </div>
</div>
