.main-wrapper {
  width: 100%;
  background-color: #2B2A2A;
  color: white;
}

.wrap {
  justify-content: center;
}

.image {
  justify-content: flex-start;
  position: relative;
  left: -1.65em;
  width: 45%;
}

.profile-pic {
  height: 375px;
  /*width: 275px;*/
}

.stats {
  width: justify;
}

.butts {
  margin-top: 2em;
}

.butt {
  margin-left: .5em;
  margin-right: .5em;
  width: 40%;
}

.infos  {
  justify-content: flex-end;
  text-align: right;
  padding-right: 15%;
}

.h5 {
  width: 60%;
  text-align: right;
}

.edit {
  margin-top: .35em;
  margin-bottom: .35em;
  width: 50%;
}

.help-block li {
  margin: .25em;
}

.stars {
  margin-bottom: 1em;
}

.left em {
  margin-right: .5em;
}

.name {
  font-size: 1.4em;
}

@media(max-width: 875px){
  .profile-pic {
      height: 350px;
  }
}

@media(max-width: 600px){

  .wrap {
    width: 100%;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0;
    margin-left: 1em;
  }

  .stats {
    padding-left: 1em;
  }

  .image {
    width: 40%;
    align-self: flex-start;
    padding: 0;
  }

  .profile-pic {
    position: relative;
    margin-top: 0;
    align-self: flex-start;
  }
}

  @media(max-width: 480px) {

    .main-wrapper {
      width: 100%;
      margin-left: .25em;
    }

    .wrap {
      padding: 0;
      width: 100%;
      margin-left: 1em;
      margin-bottom: 0;
    }

  .image {
    width: 30%;
    /*justify-content: center;*/
    padding: 0;
    margin: 0;
  }

  .profile-pic {
    width: 220px;
  }

  .rating i {
    font-size: 1.4em;
  }

  .edit {
    width: auto;
  }

  form {
    margin-top: .5em;
    width: 95%;
  }


  form button {
    margin: .25em;
  }

  img {
  }
}

@media(max-width: 380px) {
  .wrap {
    margin-left: 1.5em;
  }
  .rating i {
    font-size: 1em;
  }

  .profile-pic {
    width: 185px;
  }

  form {
    width: 80%;
    margin-left: .5em;
  }
}



/*STARS*/

.rating {
  border: none;
  float: left;

}

.rating > input  { display: none; }
.rating > i:before {
  display: inline-block;
  font-family: FontAwesome;
  cursor: pointer;
}

.rating > i {
  color: #ddd;
  float: right;
  margin: .1em;
}

.rating > input:checked ~ i {
  color: #00FF99;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: green;
}
