<div class="flex mainWrapper">

  <div class="flex half imageDiv" *ngIf="!isEdit" (click)="closeRating()">
    <div class="flex half image">
      <img [src]="[profPic]" alt="" class="profPic">
    </div>
  </div>

<div class="flex right" *ngIf="!isEdit">
      <p class="flex name">{{ fullname }}</p>
      <div class="rating up" (click)="closeRating()">
        <input type="radio" [checked]="isChecked5"/>
        <i class="fa fa-star star" for="star5" title="Awesome - 5 stars" (click)="five()"></i>
        <input type="radio" [checked]="isChecked4"/>
        <i class="fa fa-star star" for="star4" title="Pretty good - 4 stars" (click)="four()"></i>
        <input type="radio" [checked]="isChecked3"/>
        <i class="fa fa-star star" for="star3" title="Meh - 3 stars" (click)="three()"></i>
        <input type="radio" [checked]="isChecked2"/>
        <i class="fa fa-star star" for="star2" title="Kinda bad - 2 stars" (click)="two()"></i>
        <input type="radio" [checked]="isChecked1"/>
        <i class="fa fa-star star" for="star1" title="Sucks big time - 1 star" (click)="one()"></i>
      </div>
      <p class="flex up number" (click)="closeRating()"> {{ numberOfRatings || 0 }} &nbsp; Students</p>



  <!-- RIGHT HALF -->

  <div class="flex half stats">
    <div class="flex info" *ngIf="!isEdit && skill2 !== undefined" (click)="closeRating()">
      <p class="flex left"><span style="font-weight:500;">Location:</span>&nbsp; {{ county }}</p>
      <p class="flex left"><span style="font-weight:500;">Experience: </span> &nbsp; {{ yrsExperience }} Years</p>
      <p class="flex left skills"><span style="font-weight:500;">Skills: </span>{{ skill1 }}, {{ skill2 }}, {{ skill3 }}</p>
      <p class="flex left"><span style="font-weight:500;">Handicap:</span> &nbsp; {{ handicap }}</p>
      <p class="flex left"> <span style="font-weight:500;">${{ cost }}/hr</span> &nbsp; (All Inclusive)</p>
    </div>
    <!-- <div class="flex butts">
    <button class="btn btn-success butt">Contact</button>
    <button class="btn btn-primary butt">Review</button>
  </div> -->
  </div>
  <div *ngIf="!isParams" class="flex editDiv">
    <button type="button" *ngIf="!isEdit" (click)="isEdit = !isEdit" class="btn btn-warning edit">Edit</button>
  </div>
  <div *ngIf="isParams" class="flex contactDiv">
    <a href="mailto:{{email}}" class="btn contact normalButt" (click)="closeRating()">Contact {{capFullname}}</a>
    <a class="btn review normalButt" (click)="openRating()">Review {{capFullname}}</a>
    <div class="flex">
      <a href="mailto:{{email}}" class="btn contact mobileButt" (click)="closeRating()">Contact</a>
      <a class="btn review mobileButt" (click)="openRating()">Review</a>
    </div>
  </div>
</div>



<div class="flex formWrapper" *ngIf="isEdit">
  <div class="flex fileInputDiv">
    <label for="fileInput" class="custom-file-upload">
      <h4>Upload a Photo</h4>
    </label>
    <p class="flex" style="color: white"><em>{{fileChangeName}}</em></p>
    <input #fileInput id="fileInput" type="file" size="20" (change)="getFile($event)"/>
  </div>
  <div class="flex">
    <div class="flex leftForm">
      <div class="flex city">
        <div class="flex" style="color:white;">
          <h4>City</h4>
        </div>
        <input  type="text" [value]="" name="location" placeholder="San Diego, CA" class="form-control" disabled>
      </div>
      <div class="flex county">
        <div class="flex" style="color:white;">
          <h4>County</h4>
        </div>
        <select (change)="getCounty($event)" value="{{county}}">
          <option value="{{county}}" selected>{{county}}</option>
          <hr>
          <option value="North County">North County</option>
          <option value="South County">South County</option>
          <option value="East County">East County</option>
          <option value="Central County">Central County</option>
        </select>
      </div>
      <div class="flex experience">
        <div class="flex">
          <h4>Experience</h4>
        </div>
        <select (change)="getExperience($event)" value="{{yrsExperience}}">
          <option value="{{yrsExperience}}" selected>{{yrsExperience}} years</option>
          <hr>
          <option value="1">1 year</option>
          <option value="2">2 years</option>
          <option value="3">2 years</option>
          <option value="4">4 years</option>
          <option value="5">5 years</option>
          <option value="6">6 years</option>
          <option value="7">7 years</option>
          <option value="8">8 years</option>
          <option value="9">9 years</option>
          <option value="10">10 years</option>
          <option value="11">11 years</option>
          <option value="12">12 years</option>
          <option value="13">13 years</option>
          <option value="14">14 years</option>
          <option value="15">15 years</option>
          <option value="16">16 years</option>
          <option value="17">17 years</option>
          <option value="18">18 years</option>
          <option value="19">19 years</option>
          <option value="20">20 years</option>
          <option value="21">21 years</option>
          <option value="22">22 years</option>
          <option value="23">23 years</option>
          <option value="24">24 years</option>
          <option value="25">25 years</option>
          <option value="26">26 years</option>
          <option value="27">27 years</option>
          <option value="28">28 years</option>
          <option value="29">29 years</option>
          <option value="20">20 years</option>
          <option value="31">31 years</option>
          <option value="32">32 years</option>
          <option value="33">33 years</option>
          <option value="34">34 years</option>
          <option value="35">35 years</option>
        </select>
      </div>
    </div>
    <div class="flex skillsWrapper">
      <h4>Top 3 Skills:</h4>
      <select value="{{skill1}}" (change)="getSkill1($event)">
        <option value="Driving" selected="selected">Driving</option>
        <option value="Approach Game">Approach Game</option>
        <option value="Short Game / Chipping">Short Game / Chipping</option>
        <option value="Putting">Putting</option>
        <option value="Mental Focus">Mental Focus</option>
        <option value="Sand Game">Sand Game</option>
        <option value="Ball Contact">Ball Contact</option>
      </select>
      <select value="{{skill2}}" (change)="getSkill2($event)">
        <option value="Driving">Driving</option>
        <option value="Approach Game" selected="selected">Approach Game</option>
        <option value="Short Game / Chipping">Short Game / Chipping</option>
        <option value="Putting">Putting</option>
        <option value="Mental Focus">Mental Focus</option>
        <option value="Sand Game">Sand Game</option>
        <option value="Ball Contact">Ball Contact</option>
      </select>
      <select value="{{skill3}}" (change)="getSkill3($event)">
        <option value="Driving">Driving</option>
        <option value="Approach Game">Approach Game</option>
        <option value="Short Game / Chipping">Short Game / Chipping</option>
        <option value="Putting" selected="selected">Putting</option>
        <option value="Mental Focus">Mental Focus</option>
        <option value="Sand Game">Sand Game</option>
        <option value="Ball Contact">Ball Contact</option>
      </select>
    </div>
    <div class="flex moreInfo">
      <div class="flex handicap">
        <h4>Handicap:</h4>
        <select (change)="getHandicap($event)" value="{{handicap}}">
          <option value="{{handicap}}" selected>+{{handicap}}</option>
          <hr>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+2</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
          <option value="6">+6</option>
          <option value="7">+7</option>
          <option value="8">+8</option>
          <option value="9">+9</option>
          <option value="10">+10</option>
          <option value="11">+11</option>
          <option value="12">+12</option>
          <option value="13">+13</option>
          <option value="14">+14</option>
          <option value="15">+15</option>
          <option value="16">+16</option>
          <option value="17">+17</option>
          <option value="18">+18</option>
          <option value="19">+19</option>
          <option value="20">+20</option>
          <option value="21">+21</option>
          <option value="22">+22</option>
          <option value="23">+23</option>
          <option value="24">+24</option>
          <option value="25">+25</option>
          <option value="26">+26</option>
          <option value="27">+27</option>
          <option value="28">+28</option>
          <option value="29">+29</option>
          <option value="20">+20</option>
          <option value="31">+31</option>
          <option value="32">+32</option>
          <option value="33">+33</option>
          <option value="34">+34</option>
          <option value="35">+35</option>
        </select>
      </div>
      <div class="flex cost">
        <h4>Hourly Wage:</h4>
        <select value="{{cost}}" (change)="getCost($event)">
          <option value="25">$25/hr</option>
          <option value="50">$50/hr</option>
          <option value="75" selected="selected">$75/hr</option>
          <option value="100" selected="selected">$100/hr</option>
          <option value="125+">$125/hr</option>
          <option value="150+">$150+/hr</option>
        </select>
      </div>
    </div>
    <div class="flex butts">
      <button type="button" class="btn btn-warning"  (click)="isEdit = !isEdit" name="button">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="infoSubmit()">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="ratingDiv" *ngIf="canRate">
  <div class="rate">
    <app-teacher-ratings></app-teacher-ratings>
  </div>
</div>
