.container {
  padding: 2em;
}

.leftText {
  padding-left: 5%;
}

.leftText p {
  font-weight: 500;
}

.input {
  width: 90%;
  height: 3em;
  padding-left:.5em;
}

.border {
  border: 1px solid lightgrey;
}

.noMarg {
  margin: 0;
}

h3.leftText {
  margin-left: -.6em;
  padding: 0;
}
.signRow *{
  height: 2.5em;
}

.signRow .btn {
  font-weight: 500;
  background-color: #1BACFC;
}

.seperator {
  border-bottom: 1px solid #DADADA;
  margin-top: 1.5em;
}

p.pointer:hover {
  font-weight: 300;
}
