.flex {
  background-color: #DADADA !important;
  width: 100vw;
}

li.nav-item a {
  font-size: 1.4em;
  font-weight: 500;
  color: #898FFD;
}

.llc {
  text-decoration: underline;
}

.llc:hover {
  cursor:  cell;
}

.wrapper {
  position:  fixed;
  bottom: 0%;
}
