<div class="container">
  <div class="row">
    <div class="col-md-3 leftText">
      <h3>Company</h3>
        <p class="pointer">About Us</p>
        <p class="pointer">Contact Us</p>
    </div>
    <div class="col-md-3 leftText">
      <h3>Sign Up</h3>
      <p class="pointer" routerLink="profile/teacher" *ngIf="!isTeacher">Become a Teacher</p>
      <p class="pointer" routerLink="profile/teacher" *ngIf="isTeacher">Become a Teacher</p>
      <p class="pointer" routerLink="profile/student" *ngIf="!isTeacher">Become a Student</p>
      <p class="pointer" routerLink="profile/student" *ngIf="isTeacher">Become a Student</p>
    </div>
    <div class="col-md-5 col-md-offset-1 leftText">
      <h3>Join Our Mailing List</h3>
      <div class="row">
        <div class="col-md-9 noMarg">
          <input class="input" type="text" placeholder="Email">
        </div>
        <div class="col-md-3 noMarg">
          <button [disabled]="!emailForm.valid || processing" class="btn btn-success submit" (click)="emailSubmit()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 seperator"></div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-5" style="margin-top:1.5em; margin-bottom:0;">
      <strong>&copy; Savvy 2017</strong>
    </div>
  </div>
</div>
