<div class="container optionsContainer">
  <div class="row">
    <div class="col-md-4 col-xs-12 option">
      <span class="flex"><i class="fa fa-search"></i></span>
      <p class="titles">Find A Professional</p>
      <p class="col-xs-12  optionText">Search through a curated list of top coaches tailored to your skill level, location &amp; price.</p>
    </div>
    <div class="col-md-4 col-xs-12 option">
      <span class="flex"><i class="fa fa-calendar" ></i></span>
      <p class="titles">Set an Appointment</p>
      <p class="col-xs-12  optionText">Easily see a coach's availability and chat with them to schedule an appointment that works for you.</p>
    </div>
    <div class="col-md-4 col-xs-12 option">
      <span class="flex"><i class="fa fa-line-chart"></i></span>
      <p class="titles">Improve Your Game</p>
      <p class="col-xs-12  optionText">See your skills and passion improve at every step.</p>
    </div>
  </div>
</div>
