.option {
  margin-top: 1em;
}

i {
  margin-bottom: .75em;
  margin-top: .25em;
}

.titles {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.text {
  font-size: 1.05em;
  font-weight: 400;
}
