<!-- <div class="flex wrapper">
  <div class="flex option">
    <span class="flex"><i class="fa fa-search"></i></span>
    <p class="titles">Find A Professional</p>
    <p class="text">Search through a curated list of top coaches tailored to your skill level, location &amp; price.</p>
  </div>
  <div class="flex option">
      <span class="flex"><i class="fa fa-calendar" ></i></span>
    <p class="titles">Set an Appointment</p>
    <p class="text">Easily see a coach's availability and chat with them to schedule an appointment that works for you.</p>
  </div>
  <div class="flex option">
    <span class="flex"><i class="fa fa-line-chart"></i></span>
    <p class="titles">Improve Your Game</p>
    <p class="text">See your skills and passion improve at every step.</p>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <span class="flex"><i class="fa fa-search fa-4x"></i></span>
      <p class="titles">Find A Professional</p>
      <p class="col-xs-10 col-xs-offset-1 text">Search through a curated list of top coaches tailored to your skill level, location &amp; price.</p>
    </div>
    <div class="col-md-4 col-xs-12">
      <span class="flex"><i class="fa fa-calendar fa-4x" ></i></span>
      <p class="titles">Set an Appointment</p>
      <p class="col-xs-10 col-xs-offset-1 text">Easily see a coach's availability and chat with them to schedule an appointment that works for you.</p>
    </div>
    <div class="col-md-4 col-xs-12">
      <span class="flex"><i class="fa fa-line-chart fa-4x"></i></span>
      <p class="titles">Improve Your Game</p>
      <p class="col-xs-10 col-xs-offset-1 text">See your skills and passion improve at every step.</p>
    </div>
  </div>
</div>
