<div class="flex wrapper">
  <div class="flex option">
    <span class="flex"><i class="fa fa-search"></i></span>
    <p class="titles">Find A Professional</p>
    <p class="text">Search through a curated list of top coaches tailored to your skill level, location &amp; price.</p>
  </div>
  <div class="flex option">
      <span class="flex"><i class="fa fa-calendar" ></i></span>
    <p class="titles">Set an Appointment</p>
    <p class="text">Easily see a coach's availability and chat with them to schedule an appointment that works for you.</p>
  </div>
  <div class="flex option">
    <span class="flex"><i class="fa fa-line-chart"></i></span>
    <p class="titles">Improve Your Game</p>
    <p class="text">See your skills and passion improve at every step.</p>
  </div>
</div>
