form {
  width: 90%;
}

.help-block {
  background-color: rgba(247,244,244,.7);
}

.help-block li {
  font-size: 1.2em;
}

h1 {
  color: black;
}

.red {
  color: red;
}

.role {
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  border-radius: 0;
}

.buttons {
  margin-bottom: 1em;
}

.butt {
  width: 50%;
  background-color: white;
  color: #5563F0;
  margin-bottom: 1em;
  border-radius: 0;
}


.butt:hover {
  background-color: rgba(0,255,143,1);
  color: white;
}

.active {
  background-color: rgba(0,255,143,1);
  color: white;
}

.account {
  font-size: .95em;
}

.submit {
  background-color: #1BACFC;
  border-radius: 0;
}

.explainText {
  color: lightgrey;
  width: 18em;
}

.gotThis {
  color: rgb(0,255,143);
}
/*Look in parent component for the class 'useIt' and then apply the following styles to 'h1' tags in this component*/
:host-context(.useIt) h1 {
  color: white;
}

:host-context(.useIt) form {
  margin-top: 0;
  margin-bottom: 10%;
}

:host-context(.footy) .submit {
  background-color: rgb(90,218,106);
}

:host-context(.footy) .butt {
  background-color: rgb(90,218,106);
}

:host-context(.footy) .butt:hover {
  /*background-color: rgba(90,218,106,.8);*/
}

:host-context(.footy) .active {
  background-color: rgba(90,218,106,.7);
}

/*:host-context(.useIt) form {
  background-color: rgba(215,215,215,.6);
  padding:5%;
}*/

@media(max-width: 450px){
  form {
    width: 100%;
  }
  .butt {
    width: 100%;
    margin: 0;
  }

  .role {
    margin-bottom: 1em;
  }
}

@media(max-width: 325px){
  form {
    width: 100%;
  }
  .butt {
    width: 50%;
    margin: 0;
  }
}
