.teacherInfoCol {
  padding-top: 5em;
}

.name {
  font-size: 2em;
  font-weight: 500;
}

.handicap {
  margin-top: .5em;
  margin-bottom: -.5em;
  font-size: 1.25em;
}

.location {
  font-size: 1.25em;
  margin-top: .5em;
  /*margin-bottom: -.5em;*/
}

.cost {
  font-size: 1.5em;
  color: limegreen;
  font-weight: 500;
}

.quote {
  font-size: 1.85em;
  color: #5563F0;
  font-weight: 500;
  margin-top: 1.5em;
}

.author {
  font-weight: 300;
  font-size: 1em;
}

.contact {
  /*padding: 1em;*/
  font-size: 1.25em;
  margin-top: 1.75em;
  margin-left: 5.5em;
  margin-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  min-width: 45%;
  width: auto;
  background-color: #1BACFC;
  color: white;
}

h3 {
  color: #5563F0;
  font-weight: 500;
  margin-bottom: .75em;

}

.noRate {
  color: grey;
  font-weight: 500;
  margin-top: 6em;
  font-size: 1.5em;
}




.sideArrows {
  /*width: 100vw;*/
  position: absolute;
  bottom: 30em;
  z-index: 1000;
  margin: 0;
  left: 0;
  padding: 0;
}

.sideArrows * {
  color: #1BACFC;
}

.leftArrow {
  justify-content: flex-start;
}

.rightArrow {
  justify-content: flex-end;
}
