<div class="flex wrapper">
  <div class="flex half">
    <h4 class="flex featuredCoach">Featured Coach</h4>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi2X9m-SwhTNvs8OaV3-1Eol9CoE6EUU9jcgOnQ3FTffIQQSjLDA" alt="" class="featuredPic">
  </div>
  <div class="flex half leftText">
        <h3 class="full">{{ fullname }}</h3>
        <p class="full">Handicap Index of <strong>{{handicap}}</strong></p>
        <p class="full">{{location}}</p>
        <p><em>Skills:</em> {{skills}}</p>
            <div class="flex leftText">
              <div class="rating noMouse">
                <input type="radio" [checked]="isChecked5"/>
                <i class="fa fa-star fa-2x star" for="star5" title="Awesome - 5 stars"></i>
                <input type="radio" [checked]="isChecked4"/>
                <i class="fa fa-star fa-2x star" for="star4" title="Pretty good - 4 stars"></i>
                <input type="radio" [checked]="isChecked3"/>
                <i class="fa fa-star fa-2x star" for="star3" title="Meh - 3 stars"></i>
                <input type="radio" [checked]="isChecked2"/>
                <i class="fa fa-star fa-2x star" for="star2" title="Kinda bad - 2 stars"></i>
                <input type="radio" [checked]="isChecked1"/>
                <i class="fa fa-star fa-2x star" for="star1" title="Sucks big time - 1 star"></i>
              </div>
            </div>
            <p class="full number">{{numberOfRatings}} <em>Students</em></p>
    <div class="flex middle leftText">
        "{{bio | truncate:100}}"
    </div>
    <div class="flex">
      <a routerLink="{{route}}" class="btn btn-primary contact">
        CONTACT {{ fullname }}
      </a>
    </div>
  </div>
</div>
