

<div class="container">
  <div class="row" *ngFor="let teacher of teachersList | slice:grabValue:indexValue; let i = index">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <h3 class="leftText">Featured Coach</h3>
          <img [src]="['https://s3.amazonaws.com/savvyappphotos/' + teacher.profPic]" alt="" class="img-responsive pull-left pointer" routerLink="{{route}}">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1 teacherInfoCol">
      <p class="name leftText">{{ teacher.fullname }}</p>
      <p class="handicap leftText">Hanicap Index of: {{ teacher.handicap }}</p>
      <p class="location leftText">County Served: {{ teacher.county }}</p>
      <p class="cost leftText">${{ teacher.cost }}/HR</p>
      <P class="quote leftText" *ngIf="teacher.ratings[0]">"{{ teacher.ratings[randomRatingIndex].text | shorten:160 }}"</P>
      <p class="author leftText" *ngIf="teacher.ratings[0]">{{ teacher.ratings[randomRatingIndex].author }}</p>
      <h4 class="noRate leftText" *ngIf="!teacher.ratings[0]">{{teacher.fullname}} has not been rated</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <nav aria-label="Page navigation" style="margin-top:.75em">
        <ul class="pagination">
          <li><a (click)="meep(0)" [ngClass]="'active': (value===0)">1</a></li>
          <li><a (click)="meep(1)">2</a></li>
          <li><a (click)="meep(2)">3</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-4" *ngFor="let teacher of teachersList | slice:grabValue:indexValue; let i = index">
      <button class="btn btn-default contact" [routerLink]="['../view-teacher-profile/', teacher._id]">Contact {{ teacher.fullname }}</button>
    </div>
  </div>
</div>


<div class="flex sideArrows">
  <div class="flex half leftArrow">
    <i class="fa fa-chevron-left fa-3x" aria-hidden="true" (click)="down1()"></i>
  </div>
  <div class="flex half rightArrow">
    <i class="fa fa-chevron-right fa-3x" aria-hidden="true" (click)="up1()"></i>
  </div>
</div>
