<div class="flex wrapper">
  <div class="flex pic">
    <h4 class="flex featuredCoach">Featured Coach</h4>
    <img [src]="[profPic]" alt="" class="featuredPic pointer" routerLink="{{route}}">
  </div>
  <div class="flex right">
    <div class="flex top">
      <p class="flex fullname pointer" routerLink="{{route}}">{{ fullname }}</p>
      <div class="flex closeTogether">
        <p class="flex handicap normalHC pointer" routerLink="{{route}}">Handicap Index of {{handicap}}</p>
        <p class="flex handicap mobileHC pointer" routerLink="{{route}}">Handicap of {{handicap}}</p>
        <p class="flex location pointer" routerLink="{{route}}">San Diego, CA</p>
        <p class="flex location pointer" routerLink="{{route}}">{{county}}</p>
        <p class="flex promotion pointer" routerLink="{{route}}"><span>{{ promoExample }}</span></p>
      </div>
   </div>
    <h3 class="flex" *ngIf="avgRatingArray === undefined || null" style="color: darkgrey; margin-top: -20%;">{{fullname}} has not yet been rated</h3>
    <div class="flex ratingContent normalContent pointer" *ngFor="let teacher of teachersList | slice:0:1; let i=index" routerLink="{{route}}">
        <p class="flex ratingText">"{{teacher.text | shorten:125 }}"</p>
        <p class="flex ratingAuthor">{{teacher.author.toUpperCase()}}</p>
    </div>
  </div>
  <div class="flex contact normalContent">
      <button class="btn btn-primary pointer" routerLink="{{route}}">
        CONTACT {{ fullname }}
      </button>
  </div>
</div>

<div class="flex mobileContent">
  <div class="flex ratingContent pointer" *ngFor="let teacher of teachersList | slice:0:1; let i=index" routerLink="{{route}}">
      <p class="flex ratingText">"{{teacher.text | shorten:125 }}"</p>
      <p class="flex ratingAuthor">{{teacher.author.toUpperCase()}}</p>
  </div>
  <div class="flex contact">
      <button class="btn btn-primary pointer" routerLink="{{route}}">
        CONTACT {{ fullname }}
      </button>
  </div>
</div>
