.teacherInfoCol {
  padding-top: 4.5em;
}

.name {
  font-size: 2em;
  font-weight: 500;
}

.img-responsive {
  display: block;
  min-width:308px;
  height:418px;
  width: auto;
  /*height: auto;*/
}

.handicap {
  margin-top: .5em;
  margin-bottom: -.5em;
  font-size: 1.25em;
}

.location {
  font-size: 1.25em;
  margin-top: .5em;
}

.cost {
  font-size: 1.5em;
  color: limegreen;
  font-weight: 500;
}

.quote {
  font-size: 1.85em;
  color: #5563F0;
  font-weight: 500;
  margin-top: 1.5em;
}

.author {
  font-weight: 400;
  font-size: 1.25em;
  color:#5563F0;
  margin-left: .15em;
}

.contactButt {
  /*padding: 1em;*/
  font-size: 1.25em;
  margin-top:1.25em;
  margin-left: -11.75em;
  margin-bottom: 3em;
  padding: .5em;
  padding-left: 5em;
  padding-right: 5em;
  min-width: 45%;
  width: 65%;
  background-color: #1BACFC;
  color: white;
}

h3 {
  color: #5563F0;
  font-weight: 500;
  margin-bottom: .75em;

}

.noRate {
  color: grey;
  font-weight: 500;
  margin-top: 5em;
  font-size: 1.5em;
}

.sideArrows {
  /*width: 100vw;*/
  position: absolute;
  bottom: 30em;
  z-index: 1000;
  margin: 0;
  left: 0;
  padding: 0;
}

.sideArrows * {
  color: #1BACFC;
}

.leftArrow {
  justify-content: flex-start;
}

.rightArrow {
  justify-content: flex-end;
}

.circlePagination {
  margin-top: 2.5em;
}

.fa-circle {
  margin: .25em;
}

.active {
  color: #5563F0;
}

.inActive {
  color: #dadada;
}
