.opaque {
  opacity: 0;
}

.ratingModal {
  position: fixed;
  height: justify;
  padding: 2em;
  width: 100%;
  top: 10em;
  left: 0;
  right: 0;
  /*bottom: 20em;*/
  z-index: 1000;
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   background-color: lightgrey;
}

.flex > .rating {
  font-weight: 700;
  margin-left: .2em;
}

.flex textarea {
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
}

.third {
  width: 30%;
  margin: 1%;
}

#textarea {
  border: none;
  border-bottom: 2px solid black;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
   box-shadow: none;
   width: 100%;
}

.butts button {
  width: 20%;
  font-weight: 700;
  margin: 2%;
}

.teacherName {
  justify-content: flex-start;
  padding-left: 2em;
  font-size: 2em;
  color:#5563F0;
}

.rateTeacher {
  width: 20em;
}

@media(max-width:650px) {
  .teacherName {
    padding-left: 1em;
  }

  .ratingModal {
  top: 0;
  height: 100vh;
  }

  .third {
    width: 100%;
  }

  h5.flex {
    font-size: 1em;
  }

  .butts button {
    width: 38%;
    font-weight: 700;
    margin: 2%;
  }


  .r {
    font-size: 1.45em;
    font-weight: bold;
  }
  .rateTeacher {
    width: 12em;
  }
}

/*@media(max-width:420px) {
  .ratingModal {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .h3.flex {
    font-size: 1em;
  }
}*/
