  <div class="row ratingsContainer">
    <div class="col-xs-2 col-xs-offset-10">
      <i class="fa fa-times pointer" aria-hidden="true" (click)="closeRating()"></i>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row show-hide-message">
        <div [ngClass]="messageClass">
          {{message}}
        </div>
      </div>
      <div class="row ratingName">
        <div class="col-xs-12 leftText infoLeft">
          <h3 class="white">Rating {{ teacherFullname }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
          <label for="">Knowledge</label>
          <app-knowledge (knowledgeRated)="onKnowledgeRated($event)"></app-knowledge>
          <label for="" class="ratingNumber">{{kRating || 0}}/5</label>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
          <label for="">Professionalism</label>
          <app-professionalism (professionalismRated)="onProfessionalismRated($event)"></app-professionalism>
          <label for="" class="ratingNumber">{{pRating || 0}}/5</label>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
          <label for="">Teaching Ability</label>
          <app-teaching-ability (teachingAbilityRated)="onTeachingAbilityRated($event)"></app-teaching-ability>
          <label for="" class="ratingNumber">{{taRating || 0}}/5</label>
        </div>
      </div>
      <div class="row lowerRow">
        <div class="col-md-11 rateText infoLeft">
          <textarea class="form-control" (keyup)="getText($event)" placeholder="Describe your experience here"></textarea>
        </div>
        <div class="col-md-10 col-md-offset-1 infoLeft">
          <button class="btn btn-info col-md-6 " (click)="rate()" [disabled]="processing || !ratedK || !ratedP || !ratedTA || text == null">Rate {{ teacherFullname }}</button>
        </div>
      </div>
    </div>
  </div>
