.ratingsContainer {
  z-index: 1000;
  background-color: #5563F0;
  padding: 5em;
  padding-top: 2em;
  /*margin-left: 3.5em;*/
}

.ratingName {
  margin-bottom: 2em;
}

.lowerRow {
  margin-top: 2em;
}

.rateText {
  margin-bottom: 3em;
}

.infoLeft {
  margin-left: 2.75em;
  /*margin: 0;*/
  padding: 0;
  left: 0;
}

@media(max-width: 650px) {
  .infoLeft {
    margin-left: 0;
  }
}

.ratingNumber {
  font-size:1.75em;
}

textarea {
  height: 5em;
}

button.col-md-6 {
  padding: 1em;
  font-size: 1.25em;
  background-color: #1BACFC;
}

label {
  color: white;
}
.fa-times {
  font-size: 2em;
}
