.wrapper {
  background-color: rgba(215,215,215,.2);
  background-color: #2B2A2A;
}

.hideMessageDiv {
  padding: .5em;
  margin-top: .5em;
}

.messageClass {
  width: 45%;
}

/*LEFT*/

.left {
  justify-content: flex-start;
  color: white;
  padding-left: 4em;
}

.mainTitle {
  font-size: 1.75em;
  width: 72.5%;
  margin-bottom: 1.15em;
  text-align: left;
  line-height: 1.05;
  font-weight: bold;
}

.subText {
  width: 100%;
  text-align: left;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 1em;
  margin-bottom: .75em;
}



.form {
  width: 30.25em;
  justify-content: flex-start;
  margin-top: 1em;
  margin-bottom:1em;
}

.textArea {
  width: 100%;
  height: 8em;
  padding: .5em;
  color: black;
  border: none;
}

.emailInput {
  border: none;
  margin-top: 1em;
  text-align: left;
  padding: .5em;
  width: 100%;
  color: black;
}

.buttonDiv {
  justify-content: flex-start;
  margin-top: 2em;
}

.submit {
  width: 45%;
  font-size: .95em;
  padding: .85em;
  background-color: #1BACFC;
  border: none;
  z-index: 0;
}



/*RIGHT*/

.right {
  background-color: #5563F0;
  color: white;
  width: 51%;
  height: 32em;
  padding-left: 5%;
  padding-right: 5%;
}

.right div.flex {
  margin-bottom: 1.5em;
}


.quote {
  align-self: flex-start;
  font-size: 2.2em;
  font-weight: 500;
  margin: auto;
  margin-top: 1em;
  width: 75%;
  justify-content: flex-start;
  text-align: left;
  margin-left: 0;
}

.author {
  font-weight: 900;
  font-size: 1.4em;
  width: 100%;
  text-align: left;
  margin: auto;
  margin-top: 2.5em;
}

.author-location {
  font-weight: 200;
  width: 100%;
  font-size: 1.25em;
  text-align: left;
  margin: auto;
}

.fa-quote-right {
  font-size: 2.5em;
}

.i {
  margin-bottom: 1.5%;
  justify-content: flex-start;
  width: 100%;
}


/*MEDIA*/

@media(max-width: 950px) {
  .left {
    padding-left: 1em;
  }

  .mainTitle {
    font-size: 1.5em;
  }

  .form {
    width: 22.5em;
  }

}


@media(max-width: 745px) {
  .left {
    padding-left: 1em;
  }

  .mainTitle {
    font-size: 1.5em;
  }

  .form {
    width: 20em;
  }

  .fa-quote-right {
    font-size: 2.25em;
  }

  .right * {
    width: 100%;
  }

  .i {
    width: 100%;
    justify-content: flex-start;
    text-align: left;

  }

  .quote {
    margin-top: 1em;
    font-size: 2em;
    line-height: 1.25;
    width: 100%;
    justify-content: center;
    text-align: left;
    margin-bottom: 1em;
  }

  .author {
    font-weight: 700;
    font-size: 1.25em;
    /*width: 100%;*/
    text-align: left;
    margin: auto;
    margin-top: .5em;
  }

  .mainTitle {
    font-size: 1.25em;
    width: 95%;
  }

}

@media(max-width: 700px) {
  .form {
    width: 17em;
  }
}

@media(max-width: 600px) {
.form {
width: 14.5em;
}
}

@media(max-width: 500px) {
  .wrapper {
    height: 100%;
  }

  .mainTitle {
    font-size: 1.75em;
  }

  .form {
  width: 90%
  }

  .half {
    width: 95%;
  }

  .left {
    width: 100%;
    justify-content: center;
    padding: 0;
    padding-top: 2em;
    /*margin-top: 2em;*/
    margin-bottom: 2em;
  }

  .left * {
    width: 90%;
  }
  .right {
    width: 100%;
  }

  .right p {
    width: 100%;
    justify-content: center;
    text-align: left;
  }

  .quote {
    margin: 0;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .75em;
  }

  .author {
    margin-top: 2em;
  }

  .i {
    width: 100%;
  }
}

@media(max-width: 425px) {
  .mainTitle {
    font-size: 1.35em;
  }

  .right {
    height: 100%;
    padding-top: 1.5em;
    padding-bottom: 1em;
  }

  .quote {
    font-size: 1.65em;
  }
}
