.wrapper {
  width: 100vw;
  background-color: rgba(215,215,215,.2);
}

.half {
  width: 49%;
  margin:0;
  height: 28em;
}

.right {
  background-color: #5563F0;
  color: white;
  width: 50vw;
  margin-right: -1%;
  flex-wrap: nowrap;
}

.text {
  justify-content: flex-start;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 0;
}

.text h2 {
  font-size: 2.2em;
  font-weight: 800;
}

.text p {
  font-size: 1.25em;
  color: rgb(80,80,80);
  margin-bottom: -10%;
}

form {
  margin: auto;
}

.input {
  justify-content: flex-start;
  width: 100%;
}

.input input {
  width: 40%;
  padding: 1%;
}

button {
  margin-top: 2%;
  width: 40%;
  font-size: 1.2em;
}

.quote {
  font-size: 2.2em;
  margin: auto;
  width: 75%;
  justify-content: flex-start;
  text-align: left;
}

.author {
  font-weight: 900;
  font-size: 1.4em;
  width: 75%;
  text-align: left;
  margin: auto;
  margin-top: 3.5%;
}

.author-location {
  font-weight: 300;
  width: 75%;
  text-align: left;
  margin: auto;
}

.i {
  margin-bottom: 1.5%;
  justify-content: flex-start;
  width: 75%;
}
