<div class="flex wrapper">
    <div class="flex half">
      <span class="flex text">
        <h2>Besides Golf, what are some skills you are interested in learning?</h2>
        <p><em>Answer for a chance to win a free session!</em></p>
      </span>
      <div class="flex text">
        <span class="flex input">
          <input type="text" name="" value="">
        </span>
        <button class="btn btn-success">
          Submit
        </button>
      </div>
    </div>
    <div class="flex half right">
      <div class="flex">
        <span class="flex i"><i class="fa fa-quote-right fa-3x"></i></span>
        <p class="flex quote">Using Coaches from SkillSite I have improved every aspect of my golf game.</p>

        <p class="author">John Lewis</p>
        <p class="author-location">Torrey Pines Golf Club</p>
      </div>
    </div>

</div>
