<div class="flex wrapper">
    <div class="flex half left">
        <h2 class="flex text mainTitle">Besides Golf, what are some skills you are interested in learning?</h2>


      <div class="flex form">
        <input type="text" name="" value="" placeholder="I would like to learn...">
        <button class="btn btn-success submit">
          Submit
        </button>
      </div>

      <p class="flex text subText">
        <em>Answer for your chance to win a free lesson!</em>
      </p>
    </div>




    <div class="flex half right">
      <div class="flex">
        <div class="flex i"><i class="fa fa-quote-right"></i></div>
        <p class="quote">Using Coaches from savvy I have improved every aspect of my golf game.</p>

        <p class="author">John Lewis</p>
        <p class="author-location">Torrey Pines Golf Club</p>
      </div>
    </div>

</div>
