.bioRow {
  background-color: #5563F0;
  width: 100%;
  padding: 4em;
  padding-top: 2.5em;
  padding-bottom: 3em;

  color: white;
}

.about {
  font-size: 1.15em;
  font-weight: 400;
}

.bioText {
  margin-top: 1.25em;
  font-size: 1.35em;
  font-weight: 500;
}


.videoDiv {
  margin-top: 2em;
}

.vid {
  min-width: 45%;
  width: auto;
  max-width: 82.5%;
}

.greyOut{
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  background-color: rgba(255,255,255,.6);
}

.reviewsContainer {
  background-color: #F7F4F4;
  width: 100%;
  height: 450px;
  margin-top: 3em;
}


.experiences {
  margin-top: 2em;
  font-size: 1.4em;
}

.experiences li {
  list-style: none;
  justify-content: flex-start;
  margin: 0;
  margin-left: -2.75em;

}

.experiences li i {
  font-family: 'FontAwesome';
  color: #5563F0;
  margin-right: 1.5em;
  margin-left: 2.2em;
}

.proExperience {
  background-color: #2B2A2A;
  color: white;
  height: 450px;
}

.fa-plus {
  font-size: 1.2em;
}







@media(max-width:900px) {
  .half {
    width: 100%;
    padding: 1em;
  }
}

@media(max-width: 650px) {

  .exp {
    justify-content: flex-start;
    width: 100%;
  }

  .experiences {
    width: 100%;
    justify-content: flex-start;
  }

  .experiences li i {
    align-self: flex-start;
    margin-left: 0;
    font-size: .85em;
  }
}

  @media(max-width:500px) {
    .notes {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      margin-top: 1em;
    }

    .notes-text {
      margin: 0;
      margin-bottom: 1.5em;
    }
  }

  @media(max-width:375px) {
    .exp h3.flex {
      text-align: left;
      justify-content: flex-start;
      padding-left: 2em;
      font-size: 1.25em;
    }

    .experiences li {
      font-size: 1.25em;
    }

    .experiences li i {
      font-family: 'FontAwesome';
      color: #5563F0;
      margin-right: 2em;
      margin-top: .25em;
      font-size: .85em;
    }
  }

  @media(max-width:325px) {
    .exp h3.flex {
      text-align: left;
      justify-content: flex-start;
      padding-left: 1.95em;
      font-size: 1.15em;
      width: 100%;
    }
    .notes {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }

    .notes-text {
      margin-left: .5em;
      margin-bottom: 1.5em;
      text-align: left;
    }

  }
