.videoDiv {
  margin-bottom: 2.25em;
  margin-top: 1.5em;
}

.videoDiv video {
  min-width: 45%;
  width: auto;
  max-width: 82.5%;
}

.exp {
  background-color: #2B2A2A;
  color: white;
  margin: 0;
  width: 52%;
  height: 32em;
  padding: 1em;
}

.exp h3.flex {
  font-weight: 500;
  justify-content: flex-start;
  width: 72.5%;
  font-size: 2em;
}

.experiences {
  justify-content: flex-start;
  text-align: left;
  margin-top: 1.5%;
}

.experiences li {
  list-style: none;
  margin: .5em;
  justify-content: flex-start;
  font-size: 1.5em;
  font-weight: 300;
}

.fa-plus {
  font-size: 1.6em;
}

.experiences li i {
  font-family: 'FontAwesome';
  color: #5563F0;
  margin-right: 1.5em;
  margin-left: 2.2em;
  font-size: 1em;
}

.greyOut{
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  background-color: rgba(255,255,255,.6);
}

.notes {
  width: 100%;
  padding: 1em;
  background-color: #5563f0;
  color: white;
  justify-content: flex-start;
  min-height: 15em;
  height: auto;
  max-height: 27.5em;
  overflow: scroll;
}

.notes-text {
  width: 85%;
  font-size: 1.4em;
  justify-content: flex-start;
}

.left-text {
  width: 100%;
  font-size: 1.4em;
  justify-content: flex-start;
  margin-left: 1.425em;
  margin-bottom: 1em;
}

.reviews {
  background-color: #F7F4F4;
  height: 32em;
}

.reviewsTitle {
  justify-content: flex-start;
  padding-left: 2.5em;
  /*margin-bottom: 1em;*/
  font-weight: 500;
  font-size: 1.75em;
}



@media(max-width:900px) {
  .half {
    width: 100%;
    padding: 1em;
  }
}

@media(max-width: 650px) {

  .exp {
    justify-content: flex-start;
    width: 100%;
  }

  .experiences {
    width: 100%;
    justify-content: flex-start;
  }

  .experiences li i {
    align-self: flex-start;
    margin-left: 0;
    font-size: .85em;
  }
}

  @media(max-width:500px) {
    .notes {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      margin-top: 1em;
    }

    .notes-text {
      margin: 0;
      margin-bottom: 1.5em;
    }
  }

  @media(max-width:375px) {
    .exp h3.flex {
      text-align: left;
      justify-content: flex-start;
      padding-left: 2em;
      font-size: 1.25em;
    }

    .experiences li {
      font-size: 1.25em;
    }

    .experiences li i {
      font-family: 'FontAwesome';
      color: #5563F0;
      margin-right: 2em;
      margin-top: .25em;
      font-size: .85em;
    }
  }

  @media(max-width:325px) {
    .exp h3.flex {
      text-align: left;
      justify-content: flex-start;
      padding-left: 1.95em;
      font-size: 1.15em;
      width: 100%;
    }
    .notes {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }

    .notes-text {
      margin-left: .5em;
      margin-bottom: 1.5em;
      text-align: left;
    }

  }
