<!-- <div class="loadingDiv" *ngIf="isLoading">
  <div class="loader"></div>
</div> -->

<div class="greyOut" *ngIf='canRate'></div>

<div class="row show-hide-message" *ngIf="show">
  <div [ngClass]="messageClass">
  {{message}}</div>
</div>

<span *ngIf="!findTeacher && !isLoading">
      <app-teacher-profile-main></app-teacher-profile-main>

      <div class="container bioRow">
        <div class="row leftText bioRow">
          <div class="col-xs-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <p class="about">About {{ teacherFullname }}</p>
          </div>
          <div class="col-xs-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <p class="bioText">{{bio}}</p>
          </div>
        </div>
      </div>

    <div class="container vidDiv" *ngIf="profVideo">
      <div class="row">
        <div class="col-md-12 vid">
          <video controls>
            <source [src]="[profVideo]" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <div class="container reviewsContainer" *ngIf="!findTeacher && !isLoading">
      <div class="row">
        <div class="col-md-6 reviews">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 leftText">
              <h3>Reviews</h3>
            </div>
            <div class="col-md-10 col-md-offset-1 teacherReviewDiv">
              <app-teacher-reviews [sliceNumber]="sliceNumber" [canShowMore]="canShowMore"></app-teacher-reviews>
            </div>
            <div class="col-xs-6 col-xs-offset-6">
              <a class="showMore" (click)="subtractSlice3()" *ngIf="[sliceNumber] > 3">Show Less</a>
              <a class="showMore" (click)="resetSlice()"  *ngIf="([sliceNumber] >= ratingsListLength)">Reset</a>
              <a class="showMore" (click)="addSlice3()" *ngIf="[sliceNumber] < ratingsListLength" >Show More</a>
              <a class="showMore disabled" *ngIf="ratingsListLength <= 3">None to Load</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 proExperience">
          <div class="row">
            <div class="col-md-12 leftText" style="padding-left:1em;">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1" >
                  <h3>Professional Experience:</h3>
                </div>
              </div>
            </div>

            <div class="col-xs-11 experiences">
              <ul  *ngFor="let experience of experiences">
                <li class="leftText makeFull">
                  <i class="fa fa-plus ploos" aria-hidden="true"></i>
                  <span>{{ experience }}</span>
                </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


<app-rating-summary></app-rating-summary>

</span>
