.bioRow {
  background-color: #5563F0;
  width: 100%;
  padding: 4em;
  padding-top: 2.5em;
  padding-bottom: 3em;
  margin-bottom: 2em;
  color: white;
}

.about {
  font-size: 1.15em;
  font-weight: 400;
}

.bioText {
  margin-top: 1.25em;
  font-size: 1.35em;
  font-weight: 500;
}


.videoDiv {
  margin-bottom: 2em;
}

.vid {
  min-width: 45%;
  width: auto;
  max-width: 82.5%;
}

.greyOut{
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  background-color: rgba(255,255,255,.6);
}


.proExperience {
  background-color: #2B2A2A;
  color: white;
  min-height: 450px;
  height: auto;
  max-height: 600px;
}

.reviewsContainer {
  background-color: #F7F4F4;
  width: 100%;
  min-height: 450px;
  margin-top: 3em;
}

.teacherReviewDiv {
  height: 350px;
  overflow: scroll;
  margin-bottom: .75em;
}


.experiences {
  margin-top: 1em;
  overflow: scroll;
}

.experiences li {
  list-style: none;
  justify-content: flex-start;
  margin: 1.5em;
  margin-left: -1.5em;
  font-size: 1.45em;
}

.experiences li i {
  font-family: 'FontAwesome';
  color: #5563F0;
  margin-right: 1.5em;
  margin-left: 2.2em;
}

.experiences span {
  font-size: 1.25em;
}

.proExperience {
  background-color: #2B2A2A;
  color: white;
  min-height: 450px;
}

.buttsDiv {
  margin-left: 2em;
}


.fa-plus {
  font-size: 1.2em;
}



.showMore {
  color: #1BACFC;
  font-size: 1.25em;
  font-weight: 500;
  margin: 1em;
  margin-right: 0;
}

.disabled {
  font-size: 1.25em;
  font-weight: 500;
  margin: 1em;
  margin-right: 0;
  color: grey;
  pointer-events: none;
}
