<div class="greyOut" *ngIf='canRate'>
</div>

<div class="row show-hide-message" *ngIf="show">
  <div [ngClass]="messageClass">
  {{message}}</div>
</div>

<span *ngIf="!findTeacher">
  <div class="flex wrapper">
    <div class="flex">
      <app-teacher-profile-main></app-teacher-profile-main>
      <div class="flex notes">
          <h3 class="flex left-text">About {{ capFullname }}</h3>
        <div *ngIf="!isBioEdit" class="flex">
          <p class="flex notes-text">{{bio}}</p>
        </div>
      </div>
    </div>
    <div class="flex videoDiv" *ngIf="profVideo">
      <video controls>
        <source [src]="[profVideo]" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    </div>
    <div class="flex reviewsContainer">
      <div class="flex half reviews">
        <h3 class="flex reviewsTitle">Reviews</h3>
        <app-teacher-reviews></app-teacher-reviews>
      </div>
      <div class="flex half exp">
        <h3 class="flex">Professional Experience</h3>
        <h6 *ngIf="experiences == undefined || null" class="flex">{{teacherFullname}} is still updating their profile &amp; experiences</h6>
        <ul class="flex experiences" *ngFor="let experience of experiences">
          <li class="flex"><i class="fa fa-plus" aria-hidden="true"></i>
            <span>{{ experience }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</span>
