<h1 class="pgTitle">Student Register</h1>
<hr>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
  {{message}}</div>
</div>

<form [formGroup]="form" (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <div [ngClass]="{'has-error': (form.controls.firstname.errors && form.controls.firstname.dirty), 'has-success': (!form.controls.firstname.errors)}">
      <input type="text" class="form-control" name="firstname" autocomplete="off" placeholder="First Name"
      formControlName="firstname">
      <ul class="help-block">
        <li *ngIf="form.controls.firstname.errors?.required && form.controls.firstname.dirty">This field is required</li>
        <li *ngIf="form.controls.firstname.errors?.validateFirstname && form.controls.firstname.dirty">Must not contain any special characters or numbers</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email Addres</label>
    <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.touched), 'has-success': !form.controls.email.errors && emailValid}">
      <input type="text" class="form-control" name="email" autocomplete="off" placeholder="Email@emailaddress.com"
      formControlName="email" (blur)="checkStudentEmail()">
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
        <li *ngIf="form.controls.email.errors?.minlength && form.controls.email.dirty">Email must contain a minimum of 5 characters</li>
        <li *ngIf="form.controls.email.errors?.maxlength && form.controls.email.dirty">Email must contain a maximum of 30 characters</li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Must be a valid email</li>
        <li *ngIf="emailMessage"> {{emailMessage}} </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': (!form.controls.password.errors)}">
      <input type="password" class="form-control" name="password" autocomplete="off" placeholder="Password"
      formControlName="password">
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
        <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty">Password must have a minimum of 5 characters</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password" class="form-control" name="confirm" autocomplete="off" placeholder="Confirm Password"
      formControlName="confirm">
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match</li>
        <li *ngIf="!form.errors?.matchingPasswords && form.controls.confirm.dirty">Yippee! Passwords match!</li>
      </ul>
    </div>
  </div>

  <button [disabled]="!form.valid || processing || !emailValid" class="btn btn-primary registerSubmit" value="Submit">Submit</button>
  <p class="account">Already have an account? <a routerLink="/student/login"><em class="em">Login Here</em></a></p>
</form>
