
<button class="btn btn-primary fade in" *ngIf="!okRate" (click)="canRate()">Rate Teacher</button>

<div class="rateModalfade in out" *ngIf="okRate">

  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{message}}
    </div>
  </div>

<div class="flex">
  <div class="flex third">
      <h3 class="flex">Knowledge</h3>
      <app-knowledge (knowledgeRated)="onKnowledgeRated($event)"></app-knowledge>
      <h3 class="flex">
        AvgRating:  <span>{{ avgKnowledgeRating | number : '1.1-1' }}</span>
      </h3>
  </div>
  <div class="flex third">
      <h3 class="flex">Professionalism</h3>
      <app-professionalism (professionalismRated)="onProfessionalismRated($event)"></app-professionalism>
      <h3 class="flex">
        AvgRating:  <span>{{ avgProfessionalismRating | number : '1.1-1' }}</span>
      </h3>
  </div>
  <div class="flex third">
    <h3 class="flex">Teaching Ability</h3>
    <app-teaching-ability (teachingAbilityRated)="onTeachingAbilityRated($event)"></app-teaching-ability>
    <h3 class="flex">
      AvgRating:  <span>{{ avgTeachingAbilityRating | number : '1.1-1' }}</span>
    </h3>
  </div>
  <div class="flex half">
    <input type="text">
  </div>
  <button class="btn btn-success" (click)="rate()" [disabled]="processing || !ratedK || !ratedP || !ratedTA">Rate</button>
  <button class="btn btn-warning" (click)="canRate()" [disabled]="processing">Cancel</button>
</div>




</div>
