.wrapper {
  background-color: #F2F2F2;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media (max-width: 1035px){
  .info {
    width: 50%;
  }

  .schedule {
    width: 45%;
  }
}

  @media(max-width: 740px){
    .half {
      width: 100%;
    }

    .schedule {
      margin-top: 0;
      width: 100%;
    }
}
