.navbar {
  background-color: #5563F0;
  height: 1em;
  margin-bottom: 0;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.8em;
  border-right: 2px solid white;
}

li a {
  color: white;
  font-weight: bold;
  font-size: 1.6em;
}

li a:hover {
  color: #5ADA6A !important;
  background-color: rgba(137,143,253,.7);
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

li.active a{
  color: #5ADA6A !important;
  background-color: white !important;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  border: .1px solid white;
}

.dropper {
  /*border: 2px solid black;*/
  box-shadow: 2px 1px 1px black;
  margin: auto;
  top: 0;
  margin-top: -0.75em;
}

.btn {
  background-color: #898FFD;
  color: black;
}

@media(max-width:400px) {
  .navbar-brand{
    font-size: 1.4em;
  }
}

@media(max-width:340px) {
  .navbar-brand{
    font-size: .9em;
  }
}
