.top {
  align-self: flex-start;
}

.navbar {
  background-color: #5563F0;
  border: none;
  width: auto;
}

.white {
  color: white;
}

a {
  color: white;
  font-weight: bold;
  font-size: 1.6em;
}

li a:hover {
  color: #5ADA6A !important;
  background-color: rgba(137,143,253,.7);
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

li.active a{
  color: #5ADA6A !important;
  background-color: white !important;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.sign-up {
  left: 275%;
}

.profile {
  margin-left: 2%;
}

@media (max-width: 1200px) {
  .sign-up {
    left: 200%;
  }
}

@media (max-width: 980px) {
  .sign-up {
    left: 120%;
  }
}
