.wrapper {
  background-color: #5563F0;
  padding: 4em;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.left {
  justify-content: flex-start;
  width: 65%;
  padding-left: 7.5%;
  /*margin-left: 5%;*/
}

.mainTitle {
  text-align: left;
  font-weight: bolder;
  font-size: 4em;
  width: 75%;
  line-height: 1.15;
  margin-bottom: .5em;
}

.subTitle {
  width: 80%;
  text-align: left;
  font-size: 1.75em;
  font-weight: 200;
  margin-top: .5em;
}

/*RIGHT*/

.right {
  width: 25%;
}

@media(max-width:700px) {
  .left {
    width: 64%;
  }

  .mainTitle {
    font-size: 1.4em;

  }

  .subTitle {
    width: 95%;
    font-size: 1em;
  }
}
