.wrapper {
  width: 100vw;
  background-color: #5563F0;
  padding: 1em;
  color: white;
  font-family: 'Roboto', sans-serif;;
}

.left {
  justify-content: flex-start;
  /*margin-left: 1em;*/

}

.left h2 {
  text-align: left;
}

.left p {
  width: 75%;
  text-align: left;
}


.btn {
  width: 50%;
  color: white;
  text-decoration: none;
}

@media(max-width:700px) {

  .left h2 {
    font-size: 1.4em;
    font-weight: bolder;
  }

  .left p {
    width: 95%;
    font-size: 1em;
  }

  .btn {
    width: auto;
  }
}
