<div class="flex wrapper">
  <div class="flex left">
  <p class="mainTitle">
    Start improving your golf skills now!
  </p>
  <p class="subTitle">Introducing savvy, a connector of professionals looking to teach, and students looking to learn.
  </p>
  </div>
  <div class="flex right">
    <div class="flex registerForm">
      <app-user-register></app-user-register>
    </div>
    <div class="flex registerButton">
        <button type="button" class="btn btn-info register" data-toggle="modal" data-target="#register">Sign Up for FREE</button>
    </div>
  </div>
</div>
