.wrapper {
  background-color: #5563F0;
  padding: 4em;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.left {
  justify-content: flex-start;
  width: 65%;
  padding-left: 7.5%;
  /*margin-left: 5%;*/
}

.mainTitle {
  text-align: left;
  font-weight: bolder;
  font-size: 4em;
  width: 75%;
  line-height: 1.15;
  margin-bottom: .5em;
}

.subTitle {
  width: 80%;
  text-align: left;
  font-size: 1.75em;
  font-weight: 200;
  margin-top: .5em;
}

/*RIGHT*/

.right {
  width: 25%;
}

.registerButton {
  display: none;
}

@media(max-width:1050px) {

  .mainTitle {
    font-size: 3em;
  }

}

@media(max-width: 700px) {

  .wrapper {
    width: 100%;
    padding: 2em;
  }
  .left {
    width: 100%;
    padding: 0;
  }

  .mainTitle {
    font-size: 2em;
  }

  .subTitle {
    width: 95%;
    font-size: 1.5em;
  }

  .registerForm {
    display: none;
  }

  .right {
    width: 100%;
  }

  .registerButton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
  }
}

@media(max-width:550px) {

  .wrapper {
    width: 100%;
    padding: 1.5em;
    margin: 0;
  }

  .left {
    width: 100%;
    padding: 0;
  }

  .mainTitle {
    font-size: 1.65em;

  }

  .subTitle {
    width: 95%;
    font-size: 1.3em;
  }

  .registerForm {
    display: none;
  }

  .right {
    width: 100%;
  }

  .registerButton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .register {
    width: 15em;
  }
}
