<div class="flex">
  <!-- <div class="rating professionalism">
    <input type="radio" id="star5" name="rating" value="5"/><label class="real-star icon-star fa-2x full" for="star5" title="Awesome - 5 stars"  (click)="pfive()"></label>
    <input type="radio" id="star4half" name="rating" value="4.5"/><label class="real-star icon-star-half fa-2x half" for="star4half" title="Pretty good - 4.5 stars"  (click)="pfourhalf()"></label>
    <input type="radio" id="star4" name="rating" value="4"/><label class="real-star icon-star fa-2x full" for="star4" title="Pretty good - 4 stars"  (click)="pfour()"></label>
    <input type="radio" id="star3half" name="rating" value="3.5"/><label class="real-star icon-star-half fa-2x half" for="star3half" title="Meh - 3.5 stars" (click)="pthreehalf()"></label>
    <input type="radio" id="star3" name="rating" value="3"/><label class="real-star icon-star fa-2x full" for="star3" title="Meh - 3 stars"  (click)="pthree()"></label>
    <input type="radio" id="star2half" name="rating" value="2.5"/><label class="real-star icon-star-half fa-2x half" for="star2half" title="Kinda bad - 2.5 stars" (click)="ptwohalf()"></label>
    <input type="radio" id="star2" name="rating" value="2"/><label class = "real-star icon-star fa-2x full" for="star2" title="Kinda bad - 2 stars" (click)="ptwo()"></label>
    <input type="radio" id="star1half" name="rating" value="1.5"/><label class="real-star icon-star-half fa-2x half" for="star1half" title="Meh - 1.5 stars" (click)="ponehalf()"></label>
    <input type="radio" id="star1" name="rating" value="1"/><label class = "real-star icon-star fa-2x full" for="star1" title="Sucks big time - 1 star"  (click)="pone()"></label>
    <input type="radio" id="starhalf" name="rating" value="0.5"/><label class="real-star icon-star-half fa-2x half" for="starhalf" title="Sucks big time - 0.5 stars"  (click)="phalf()"></label>
  </div> -->
  <div class="rating">
    <input type="radio" name="rating"/>
    <i class="fa fa-star fa-3x star" for="star5" title="Awesome - 5 stars" (click)="pfive()"></i>
    <input type="radio" name="rating"/>
    <i class="fa fa-star fa-3x star" for="star4" title="Pretty good - 4 stars" (click)="pfour()"></i>
    <input type="radio" name="rating"/>
    <i class="fa fa-star fa-3x star" for="star3" title="Meh - 3 stars" (click)="pthree()"></i>
    <input type="radio" name="rating"/>
    <i class="fa fa-star fa-3x star" for="star2" title="Kinda bad - 2 stars" (click)="ptwo()"></i>
    <input type="radio" name="rating"/>
    <i class="fa fa-star fa-3x star" for="star1" title="Sucks big time - 1 star" (click)="pone()"></i>
  </div>
  <h3 class="flex" *ngIf="showPRating">
    Current Rating: <span>{{ pRating }}</span>
  </h3>
</div>
