.rating {
  float: left;
}

.rating > input {
  display: none;
}
.rating > i:before {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f005";
}

.rating > i {
  color: #ddd;
  float: right;
  margin: .1em;
}

/*star clicked*/

.rating > input:checked ~ i,
.rating:not(:checked) > i:hover,
.rating:not(:checked) > i:hover ~ i {
  color: #FFD700;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: orange;
}

.rating > input:checked + i:hover,
.rating > input:checked ~ i:hover,
.rating > i:hover ~ input:checked ~ i,
.rating > input:checked ~ i:hover ~ i {
  color: #FFED85;
}


/*OLD ONE Pure CSS*/

/*@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.professionalism, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

/*.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}*/

/***** CSS Magic to Highlight Stars on Hover *****/

/*
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } */

/*.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }*/
